/************************** Main styles **************************/
/*** Helpers ***/
/*** Colorpallete ***/
[data-font="white"] {
  color: #fff;
}
button,
[data-button],
[data-fab] {
  background: transparent;
  color: inherit;
}
[data-background="white"],
[data-badge]::after,
[data-button*="raised"],
[data-tooltip]::after {
  background-color: #fff;
  color: #212121;
}
a {
  color: #3f51b5;
}
[data-tooltip]::before,
[data-tooltip-color]::before {
  border-color: #fff;
}
[data-progress]::after {
  background: #9e9e9e;
}
[data-font~="default"],
a[data-font~="default"],
[data-button~="default"],
[data-spinner~="default"] {
  color: #9e9e9e;
}
[data-background="default"],
[data-button*="default raised"],
[data-fab~="default"],
[data-badge-color="default"]::after,
[data-tooltip-color~="default"]::after,
[data-progress~="default"]::after {
  background-color: #9e9e9e;
  color: #fafafa;
}
a[data-font~="default"]:hover {
  color: #616161;
}
[data-tooltip-color~="default"]::before {
  border-color: #9e9e9e;
}
[data-font*="default-50"] {
  color: #fafafa;
}
[data-background*="default 50"] {
  background-color: #fafafa;
  color: #212121;
}
[data-font*="default-100"] {
  color: #f5f5f5;
}
[data-background*="default 100"] {
  background-color: #f5f5f5;
  color: #212121;
}
[data-font*="default-200"] {
  color: #eee;
}
[data-background*="default 200"] {
  background-color: #eee;
  color: #212121;
}
[data-font*="default-300"] {
  color: #e0e0e0;
}
[data-background*="default 300"] {
  background-color: #e0e0e0;
  color: #212121;
}
[data-font*="default-400"] {
  color: #bdbdbd;
}
[data-background*="default 400"] {
  background-color: #bdbdbd;
  color: #212121;
}
[data-font*="default-500"] {
  color: #9e9e9e;
}
[data-background*="default 500"] {
  background-color: #9e9e9e;
  color: #fafafa;
}
[data-font*="default-600"] {
  color: #757575;
}
[data-background*="default 600"] {
  background-color: #757575;
  color: #fafafa;
}
[data-font*="default-700"] {
  color: #616161;
}
[data-background*="default 700"] {
  background-color: #616161;
  color: #fafafa;
}
[data-font*="default-800"] {
  color: #424242;
}
[data-background*="default 800"] {
  background-color: #424242;
  color: #fafafa;
}
[data-font*="default-900"] {
  color: #212121;
}
[data-background*="default 900"] {
  background-color: #212121;
  color: #fafafa;
}
[data-button~="default"]:hover {
  background-color: #fafafa;
}
[data-button*="default outline"]:hover {
  border-color: #e0e0e0;
}
[data-button*="default raised"]:hover,
[data-fab~="default"]:hover {
  background-color: #e0e0e0;
  color: #fafafa;
}
[data-font~="primary"],
a[data-font~="primary"],
[data-button~="primary"],
[data-spinner~="primary"] {
  color: #3f51b5;
}
[data-background="primary"],
[data-button*="primary raised"],
[data-fab~="primary"],
[data-badge-color="primary"]::after,
[data-tooltip-color~="primary"]::after,
[data-progress~="primary"]::after {
  background-color: #3f51b5;
  color: #e8eaf6;
}
a[data-font~="primary"]:hover {
  color: #303f9f;
}
[data-tooltip-color~="primary"]::before {
  border-color: #3f51b5;
}
[data-font*="primary-50"] {
  color: #e8eaf6;
}
[data-background*="primary 50"] {
  background-color: #e8eaf6;
  color: #1a237e;
}
[data-font*="primary-100"] {
  color: #c5cae9;
}
[data-background*="primary 100"] {
  background-color: #c5cae9;
  color: #1a237e;
}
[data-font*="primary-200"] {
  color: #9fa8da;
}
[data-background*="primary 200"] {
  background-color: #9fa8da;
  color: #1a237e;
}
[data-font*="primary-300"] {
  color: #7986cb;
}
[data-background*="primary 300"] {
  background-color: #7986cb;
  color: #e8eaf6;
}
[data-font*="primary-400"] {
  color: #5c6bc0;
}
[data-background*="primary 400"] {
  background-color: #5c6bc0;
  color: #e8eaf6;
}
[data-font*="primary-500"] {
  color: #3f51b5;
}
[data-background*="primary 500"] {
  background-color: #3f51b5;
  color: #e8eaf6;
}
[data-font*="primary-600"] {
  color: #3949ab;
}
[data-background*="primary 600"] {
  background-color: #3949ab;
  color: #e8eaf6;
}
[data-font*="primary-700"] {
  color: #303f9f;
}
[data-background*="primary 700"] {
  background-color: #303f9f;
  color: #e8eaf6;
}
[data-font*="primary-800"] {
  color: #283593;
}
[data-background*="primary 800"] {
  background-color: #283593;
  color: #e8eaf6;
}
[data-font*="primary-900"] {
  color: #1a237e;
}
[data-background*="primary 900"] {
  background-color: #1a237e;
  color: #e8eaf6;
}
[data-font*="primary-A100"] {
  color: #8c9eff;
}
[data-background*="primary A100"] {
  background-color: #8c9eff;
  color: #1a237e;
}
[data-font*="primary-A200"] {
  color: #536dfe;
}
[data-background*="primary A200"] {
  background-color: #536dfe;
  color: #e8eaf6;
}
[data-font*="primary-A400"] {
  color: #3d5afe;
}
[data-background*="primary A400"] {
  background-color: #3d5afe;
  color: #e8eaf6;
}
[data-font*="primary-A700"] {
  color: #304ffe;
}
[data-background*="primary A700"] {
  background-color: #304ffe;
  color: #e8eaf6;
}
[data-button~="primary"]:hover {
  background-color: #e8eaf6;
}
[data-button*="primary outline"]:hover {
  border-color: #7986cb;
}
[data-button*="primary raised"]:hover,
[data-fab~="primary"]:hover {
  background-color: #7986cb;
  color: #e8eaf6;
}
[data-font~="accent"],
a[data-font~="accent"],
[data-button~="accent"],
[data-spinner~="accent"] {
  color: #e91e63;
}
[data-background="accent"],
[data-button*="accent raised"],
[data-fab~="accent"],
[data-badge-color="accent"]::after,
[data-tooltip-color~="accent"]::after,
[data-progress~="accent"]::after {
  background-color: #e91e63;
  color: #fce4ec;
}
a[data-font~="accent"]:hover {
  color: #c2185b;
}
[data-tooltip-color~="accent"]::before {
  border-color: #e91e63;
}
[data-font*="accent-50"] {
  color: #fce4ec;
}
[data-background*="accent 50"] {
  background-color: #fce4ec;
  color: #880e4f;
}
[data-font*="accent-100"] {
  color: #f8bbd0;
}
[data-background*="accent 100"] {
  background-color: #f8bbd0;
  color: #880e4f;
}
[data-font*="accent-200"] {
  color: #f48fb1;
}
[data-background*="accent 200"] {
  background-color: #f48fb1;
  color: #880e4f;
}
[data-font*="accent-300"] {
  color: #f06292;
}
[data-background*="accent 300"] {
  background-color: #f06292;
  color: #fce4ec;
}
[data-font*="accent-400"] {
  color: #ec407a;
}
[data-background*="accent 400"] {
  background-color: #ec407a;
  color: #fce4ec;
}
[data-font*="accent-500"] {
  color: #e91e63;
}
[data-background*="accent 500"] {
  background-color: #e91e63;
  color: #fce4ec;
}
[data-font*="accent-600"] {
  color: #d81b60;
}
[data-background*="accent 600"] {
  background-color: #d81b60;
  color: #fce4ec;
}
[data-font*="accent-700"] {
  color: #c2185b;
}
[data-background*="accent 700"] {
  background-color: #c2185b;
  color: #fce4ec;
}
[data-font*="accent-800"] {
  color: #ad1457;
}
[data-background*="accent 800"] {
  background-color: #ad1457;
  color: #fce4ec;
}
[data-font*="accent-900"] {
  color: #880e4f;
}
[data-background*="accent 900"] {
  background-color: #880e4f;
  color: #fce4ec;
}
[data-font*="accent-A100"] {
  color: #ff80ab;
}
[data-background*="accent A100"] {
  background-color: #ff80ab;
  color: #880e4f;
}
[data-font*="accent-A200"] {
  color: #ff4081;
}
[data-background*="accent A200"] {
  background-color: #ff4081;
  color: #fce4ec;
}
[data-font*="accent-A400"] {
  color: #f50057;
}
[data-background*="accent A400"] {
  background-color: #f50057;
  color: #fce4ec;
}
[data-font*="accent-A700"] {
  color: #c51162;
}
[data-background*="accent A700"] {
  background-color: #c51162;
  color: #fce4ec;
}
[data-button~="accent"]:hover {
  background-color: #fce4ec;
}
[data-button*="accent outline"]:hover {
  border-color: #f06292;
}
[data-button*="accent raised"]:hover,
[data-fab~="accent"]:hover {
  background-color: #f06292;
  color: #fce4ec;
}
[data-button~="outline"] {
  background-color: #fff;
  box-shadow: none;
}
.ripple::after,
button::after,
[data-button]::after,
[data-fab]::after,
[data-list]>li>*::after {
  background: rgba(33,33,33,0.3);
}
body {
  background: #ededed;
  color: #212121;
}
body>header,
body>footer {
  background: #3f51b5;
  color: #e8eaf6;
}
body>header>nav>a,
body>footer>nav>a {
  color: #fff;
}
[data-drawer] [data-drawer-content] {
  background: #fff;
  color: #212121;
}
[data-card] {
  background: #fff;
  color: #212121;
}
[data-card]>header {
  border-bottom: 1rem solid rgba(33,33,33,0.16);
}
[data-card]>footer {
  border-top: 1rem solid rgba(33,33,33,0.16);
}
[data-card] a,
[data-card] button,
[data-card] [data-button],
[data-card] [data-fab],
[data-card] [class*="icon"] {
  box-shadow: none;
}
[data-card="squared"]>[data-card-media]>header {
  background: rgba(33,33,33,0.3);
  border-top: 1rem solid rgba(33,33,33,0.3);
}
[data-card-media]>header {
  background: rgba(33,33,33,0.3);
  color: #fff;
  text-shadow: 1rem 1rem 2rem #212121;
}
[data-card-media]>header a,
[data-card-media]>header button,
[data-card-media]>header [data-button],
[data-card-media]>header [data-fab],
[data-card-media]>header [class*="icon"] {
  color: #fff;
}
::-webkit-input-placeholder {
  color: inherit;
}
:-moz-placeholder {
  color: inherit;
}
::-moz-placeholder {
  color: inherit;
}
:-ms-input-placeholder {
  color: inherit;
}
label {
  color: #9e9e9e;
}
label::before {
  background: #eee;
}
label::after {
  background: 'Light Blue';
}
input,
select,
textarea {
  background: transparent;
  color: #9e9e9e;
  border-color: #eee;
}
input:focus ~label,
select:focus ~label,
textarea:focus ~label {
  color: inherit;
}
input[disabled],
select[disabled],
textarea[disabled] {
  background: #fff;
  color: #bdbdbd;
  border-color: rgba(33,33,33,0.16);
}
.form-group {
  color: #03a9f4;
}
.form-group >.help-block {
  color: #9e9e9e;
}
.has-warning {
  color: #ff9800;
}
.has-warning .help-block {
  color: #ff9800;
}
.has-warning label {
  color: #ff9800;
}
.has-warning label::after {
  background-color: #ff9800;
}
.has-warning label::before {
  background: #ffcc80;
}
.has-success {
  color: #4caf50;
}
.has-success .help-block {
  color: #4caf50;
}
.has-success label {
  color: #4caf50;
}
.has-success label::after {
  background-color: #4caf50;
}
.has-success label::before {
  background: #a5d6a7;
}
.has-error {
  color: #f44336;
}
.has-error .help-block {
  color: #f44336;
}
.has-error label {
  color: #f44336;
}
.has-error label::after {
  background-color: #f44336;
}
.has-error label::before {
  background: #ef9a9a;
}
menu {
  background: #fff;
}
[data-list]>li {
  border-bottom: 1rem solid rgba(33,33,33,0.16);
}
[data-list]>li:last-child {
  border-bottom: none;
}
[data-list]>li>* {
  background: #fff;
}
[data-list]>li>*:hover {
  background: rgba(33,33,33,0.16);
}
dialog::after {
  background: #fff;
}
/*** Animation Definitions ***/
.slideInLeft {
  animation-name: slideInLeft;
}
.slideOutLeft {
  animation-name: slideOutLeft;
}
.slideInLeft {
  animation-name: slideInLeft;
}
.slideOutLeft {
  animation-name: slideOutLeft;
}
@-moz-keyframes slideInLeft {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-o-keyframes slideInLeft {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-moz-keyframes slideOutLeft {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
@-webkit-keyframes slideOutLeft {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
@-o-keyframes slideOutLeft {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
@-moz-keyframes slideInRight {
  0% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-o-keyframes slideInRight {
  0% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes slideInRight {
  0% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-moz-keyframes slideOutRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
@-o-keyframes slideOutRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
@-moz-keyframes ripple {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(-50%, -50%);
  }
}
@-webkit-keyframes ripple {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(-50%, -50%);
  }
}
@-o-keyframes ripple {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(-50%, -50%);
  }
}
@keyframes ripple {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(-50%, -50%);
  }
}
@-moz-keyframes drawerclose {
  0% {
    top: 0;
    z-index: 1;
  }
  99.9% {
    top: 0;
    z-index: 1;
  }
  100% {
    top: -100%;
    z-index: -1;
  }
}
@-webkit-keyframes drawerclose {
  0% {
    top: 0;
    z-index: 1;
  }
  99.9% {
    top: 0;
    z-index: 1;
  }
  100% {
    top: -100%;
    z-index: -1;
  }
}
@-o-keyframes drawerclose {
  0% {
    top: 0;
    z-index: 1;
  }
  99.9% {
    top: 0;
    z-index: 1;
  }
  100% {
    top: -100%;
    z-index: -1;
  }
}
@keyframes drawerclose {
  0% {
    top: 0;
    z-index: 1;
  }
  99.9% {
    top: 0;
    z-index: 1;
  }
  100% {
    top: -100%;
    z-index: -1;
  }
}
/*** Elevation classes ***/
.animated {
  transition: all 0.3s ease-in-out;
}
[data-switch],
[data-badge] {
  transition: all 0.3s ease-in-out;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 0.3333px 1px -1px rgba(0,0,0,0.12), 0 0.3333px 1px 0 rgba(0,0,0,0.2);
}
[data-card],
[data-button~="raised"],
[data-fab~="inline"] {
  transition: all 0.3s ease-in-out;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 0.6667px 2px -2px rgba(0,0,0,0.12), 0 0.6667px 2px 0 rgba(0,0,0,0.2);
}
body>header,
body>[data-flexible-bar],
body>[data-tab-bar],
body>footer {
  transition: all 0.3s ease-in-out;
  z-index: 4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16), 0 1.3333px 4px -4px rgba(0,0,0,0.12), 0 1.3333px 4px 0 rgba(0,0,0,0.2);
}
[data-fab],
[data-snackbar] {
  transition: all 0.3s ease-in-out;
  z-index: 6;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.16), 0 2px 6px -6px rgba(0,0,0,0.12), 0 2px 6px 0 rgba(0,0,0,0.2);
}
[data-drawer-content],
[data-modal-bottom-sheet] {
  transition: all 0.3s ease-in-out;
  z-index: 16;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.16), 0 5.3333px 16px -16px rgba(0,0,0,0.12), 0 5.3333px 16px 0 rgba(0,0,0,0.2);
}
pre {
  transition: all 0.3s ease-in-out;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16) inset, 0 0.6667px 2px -2px rgba(0,0,0,0.12) inset, 0 0.6667px 2px 0 rgba(0,0,0,0.2) inset;
}
/*** Force Css Reset ***/
html {
  font-size: 1px;
  box-sizing: border-box;
}
*,
:before,
:after {
  box-sizing: border-box;
}
[class*="icon"],
.inline-block,
a,
small,
button,
[data-button],
[data-fab] {
  display: inline-block;
  transition: all 0.3s linear;
}
body {
  font-size: 16rem;
  line-height: 1.618;
}
a,
img {
  outline: 0;
  margin: 0;
  text-decoration: none;
}
small {
  font-size: 0.7em;
  opacity: 0.6;
  padding: 0 8rem;
}
/*** Overlay ***/
.overlay {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition: all 0.5s linear;
  opacity: 0;
  z-index: -10;
  background: rgba(33,33,33,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s linear;
  cursor: pointer;
  display: none;
}
/*** Ripple ***/
[data-ripple]::after,
button::after,
[data-fab]::after,
[data-button]::after,
[data-list]>li>a::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  border-radius: 100%;
  opacity: 0.6;
  transform: scale(0) translate(-50%, -50%);
  transform-origin: top left;
}
[data-ripple]:active::after,
button:active::after,
[data-fab]:active::after,
[data-button]:active::after,
[data-list]>li>a:active::after,
[data-ripple]:focus::after,
button:focus::after,
[data-fab]:focus::after,
[data-button]:focus::after,
[data-list]>li>a:focus::after {
  animation-fill-mode: both;
  animation: ripple 1.2s;
  animation-timing-function: linear;
}
/************************** Components **************************/
/*** Badges ***/
[data-badge] {
  position: relative;
}
[data-badge]::after {
  content: attr(data-badge);
  display: block;
  position: absolute;
  border-radius: 50%;
  font-size: 12rem;
  height: 22rem;
  width: 22rem;
  line-height: 22rem;
  font-weight: bold;
  top: -11rem;
  right: -11rem;
  z-index: 2;
  text-align: center;
}
/*** Buttons ***/
button,
[data-button],
[data-fab] {
  border: none;
  border-radius: 2rem;
  position: relative;
  min-width: 64rem;
  padding: 12rem 16rem;
  line-height: 1;
  display: inline-block;
  font-size: 14rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
button[disabled],
[data-button][disabled],
[data-fab][disabled] {
  opacity: 0.8;
  cursor: default;
}
[data-button~="outline"] {
  border: 1rem solid;
}
[data-button~="raised"],
[data-button~="outline"] {
  margin: 4rem;
}
[data-fab] {
  border-radius: 50%;
  font-size: 24rem;
  height: 56rem;
  width: 56rem;
  min-width: 30rem;
  padding: 0;
  line-height: 56rem;
  position: fixed;
  right: 16rem;
  bottom: 16rem;
  overflow: visible;
}
[data-fab] >[class*="icon"] {
  line-height: 56rem;
  font-size: 24rem;
}
[data-fab~="inline"] {
  position: relative;
  display: inline-block;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  vertical-align: middle;
}
[data-fab~="mini"] {
  font-size: 16rem;
  height: 30rem;
  width: 30rem;
  min-width: 30rem;
  line-height: 30rem;
}
[data-fab~="mini"] >[class*="icon"] {
  line-height: 30rem;
  font-size: 16rem;
}
/*** ToolBar ***/
header,
footer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  overflow: visible;
  height: 56rem;
}
header >*,
footer >* {
  padding: 8rem;
}
header >[data-button],
footer >[data-button] {
  flex: 0 0 auto;
  padding: 16rem;
}
header >[data-button]:first-child,
footer >[data-button]:first-child {
  margin-right: -16rem;
}
header > h1,
footer > h1,
header > h2,
footer > h2,
header > h3,
footer > h3 {
  margin: 0;
  flex: 0 0 auto;
  font-size: 16rem;
  line-height: 1;
  padding: 20rem 16rem;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex: 1 1 auto;
  overflow: visible;
}
nav > [data-fab~="mini"] {
  margin-top: 6rem;
  margin-right: 8rem;
  box-shadow: none;
}
nav >a,
nav >a[data-button] {
  text-transform: none;
}
/*** Lists ***/
[data-list] {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 16rem;
  font-weight: 400;
}
[data-list] > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  line-height: 1.15;
}
[data-list] > li > * {
  position: relative;
  overflow: hidden;
  padding: 16rem;
  color: inherit;
  height: 64rem;
  transition: all 0.5s linear;
}
[data-list] > li > *:last-child {
  order: 1;
  flex: 0 0 auto;
  width: 64rem;
}
[data-list] > li > *:last-child > [class*="icon"] {
  font-size: 24rem;
  text-align: center;
  width: 32rem;
  height: 32rem;
  line-height: 32rem;
}
[data-list] > li > *:first-child {
  order: 0;
  flex: 2 1 auto;
  width: auto;
  padding: 22rem 16rem;
}
[data-list] > li > *:first-child > small {
  font-weight: 300;
  display: none;
  margin-top: 4rem;
  line-height: 1.42;
  opacity: 0.8;
  overflow: hidden;
}
[data-list] > li > *:first-child > [class*="icon"] {
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
  font-size: 30rem;
  line-height: 40rem;
  margin-right: 16rem;
  vertical-align: top;
  text-align: center;
  margin-top: -10rem;
}
[data-list] > li > *:first-child ~ small {
  margin-left: 56rem;
}
[data-list="two-line"]>li>*:first-child {
  padding: 14rem 16rem;
}
[data-list="two-line"]>li>*:first-child>[class*="icon"] {
  margin-top: -2rem;
}
[data-list="two-line"]>li>*:first-child>small,
[data-list="two-line"]>li>*:first-child>[class*="icon"] ~ small {
  height: 18rem;
  display: block;
}
[data-list="three-line"]>li>*:first-child {
  padding: 8rem 16rem;
}
[data-list="three-line"]>li>*:first-child>[class*="icon"] {
  margin-top: 4rem;
}
[data-list="three-line"]>li>*:first-child>small,
[data-list="three-line"]>li>*:first-child>[class*="icon"] ~ small {
  height: 32rem;
  display: block;
}
[data-list="two-line"]>li>*:first-child>[class*="icon"],
[data-list="three-line"]>li>*:first-child>[class*="icon"] {
  display: block;
  float: left;
}
/*** Cards ***/
[data-card] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  text-align: left;
  border-radius: 2rem;
  max-width: 360rem;
  margin: 0 auto;
  margin-bottom: 16rem;
  overflow: visible;
  padding: 0;
}
[data-card]>[data-card-media] {
  order: 0;
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 56% 0;
  overflow: hidden;
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
[data-card]>[data-card-media]>header {
  margin: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  height: auto;
  z-index: 1;
}
[data-card]>[data-card-media]>header > h1,
[data-card]>[data-card-media]>header > h2,
[data-card]>[data-card-media]>header > h3 {
  position: absolute;
  bottom: 0;
  font-size: 24rem;
}
[data-card]>[data-card-media]>header nav {
  position: absolute;
  top: 0;
  right: 0;
}
[data-card~="squared"] {
  max-width: 256rem;
  min-width: 256rem;
}
[data-card~="squared"]>[data-card-media] {
  padding-bottom: 100%;
}
[data-card~="squared"]>[data-card-media]>header {
  top: auto;
  height: 60rem;
  text-shadow: none;
}
[data-card~="squared"]>[data-card-media]>header > h1,
[data-card~="squared"]>[data-card-media]>header > h2,
[data-card~="squared"]>[data-card-media]>header > h3 {
  position: static;
  font-size: 16rem;
}
[data-card~="squared"]>[data-card-media]>header nav {
  position: static;
}
[data-card~="squared"]>[data-card-media]>section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 24px;
  padding-right: 25%;
  font-weight: 400;
  margin: -1rem;
}
[data-card~="full-width"] {
  max-width: 100%;
}
/*** Forms ***/
label {
  transition: all 0.3s ease-in-out;
  font-size: 13rem;
  line-height: 13rem;
  z-index: 0;
  opacity: 0.6;
  padding: 0;
  position: relative;
}
input,
select,
textarea {
  outline: 0;
  padding: 8rem;
  transition: all 0.3s ease-in-out;
  height: 32rem;
  line-height: 32rem;
  border-width: 0;
  z-index: 1;
  position: relative;
  border-radius: 0;
  border-bottom-width: 2rem;
  border-bottom-style: solid;
  width: 100%;
}
input ~label,
select ~label,
textarea ~label {
  position: absolute;
  top: 0;
  left: 0;
  height: 48rem;
  width: 100%;
}
input ~label::after,
select ~label::after,
textarea ~label::after,
input ~label::before,
select ~label::before,
textarea ~label::before {
  content: ' ';
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 2rem;
}
input ~label::after,
select ~label::after,
textarea ~label::after {
  width: 0%;
  left: 50%;
  transform: translate(-50%);
}
.help-block {
  font-size: 13rem;
  margin: 2rem 0 0;
  opacity: 0.6;
  line-height: 13rem;
}
.form-group {
  margin-bottom: 22rem;
  position: relative;
  padding-top: 16rem;
}
.form-group >* {
  width: 100%;
  border-bottom: 0;
}
.form-group >*::-webkit-input-placeholder {
  opacity: 0;
}
.form-group >*:-moz-placeholder {
  opacity: 0;
}
.form-group >*::-moz-placeholder {
  opacity: 0;
}
.form-group >*:-ms-input-placeholder {
  opacity: 0;
}
.form-group >*:placeholder-shown~label {
  padding: 24rem 8rem 0;
  font-size: 16rem;
}
.form-group >*:focus~label {
  padding: 0;
  font-size: 13rem;
}
.form-group >*:focus~label::after {
  width: 100%;
}
.form-group >.help-block {
  position: absolute;
}
.form-group >textarea {
  height: auto;
}
.form-group >textarea ~label {
  height: 100%;
}
[type="checkbox"],
[type="radio"] {
  width: auto;
}
/*** Drawers ***/
[data-drawer] {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  padding: 0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: drawerclose;
  max-width: 320rem;
  top: 0;
  left: 0;
}
[data-drawer]::before {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition: all 0.5s linear;
  opacity: 0;
  z-index: -10;
  background: rgba(33,33,33,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s linear;
  cursor: pointer;
  display: none;
  content: ' ';
}
[data-drawer="right"] {
  left: auto;
  right: 0;
}
[data-drawer-content] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  width: calc(100% - 56rem);
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  animation-name: slideOutLeft;
  height: 100%;
  position: absolute;
}
[data-drawer-content] >[data-list] {
  flex: 1 1 0;
  overflow: auto;
  min-height: 140rem;
}
[data-drawer="right"] [data-drawer-content] {
  right: 0;
  left: auto;
  animation-name: slideOutRight;
}
[data-button*="drawer"]:focus+[data-drawer],
[data-drawer][open] {
  animation-name: draweropen;
  z-index: 1;
}
[data-button*="drawer"]:focus+[data-drawer]::before,
[data-drawer][open]::before {
  opacity: 1;
  z-index: -2;
  display: block;
}
[data-button*="drawer"]:focus+[data-drawer] [data-drawer-content],
[data-drawer][open] [data-drawer-content] {
  animation-name: slideInLeft;
}
[data-button*="drawer"]:focus+[data-drawer="right"] [data-drawer-content],
[data-drawer="right"][open] [data-drawer-content] {
  animation-name: slideInRight;
}
/*** Layout ***/
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
:after,
:before,
body,
input,
select,
textarea {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
body {
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  justify-content: space-between;
}
header,
footer {
  flex: 0 0 auto;
}
[data-flexible-bar] {
  flex: 0 0 auto;
}
.tab-bar {
  flex: 0 0 auto;
}
article,
section {
  flex: 1 1 auto;
  padding: 16rem;
  overflow-x: auto;
  z-index: 0;
}
article::after,
section::after,
article::before,
section::before {
  clear: both;
  content: " ";
  display: block;
}
section {
  overflow: auto;
  font-size: 14rem;
}
section>[data-list] {
  margin: -16rem;
}
footer,
body>footer {
  z-index: 3;
  order: 9999;
}
.page {
  display: none;
}
.page:target {
  display: initial;
}
