article.page#forms
    
    h1 Forms
    hr
    div(data-card)
        div
            div.form-group
                input(type="text" placeholder="Label text")
                label Label text
                p.help-block This is a help-block
            div.form-group
                input(type="text" placeholder="Label text" value="Hola mundo")
                label Label text
                p.help-block This is a help-block
            div.form-group.has-warning
                input(type="text" placeholder="Label text" value="Hola mundo")
                label Label text
                p.help-block This is input has a warning
            div.form-group.has-success
                input(type="text" placeholder="Label text" value="Hola mundo")
                label Label text
                p.help-block This input has success
            div.form-group.has-error
                input(type="text" placeholder="Label text" value="Hola mundo")
                label Label text
                p.help-block This input has an error
            div.form-group
                textarea(placeholder="Label text" cols="6")
                label Label text
                p.help-block This is a help-block
            div.form-group
                select(placeholder="Label text")
                    option(value = "")
                    each val in [1,2,3,4,5]
                        option val
                label Label text
                p.help-block This is a help-block
    pre
        ='  <div data-card>'
        br
        ='    <div>'
        br
        ='      <div class="form-group">'
        br
        ='        <input type="text" placeholder="Label text">'
        br
        ='        <label>Label text</label>'
        br
        ='        <p class="help-block">This is a help-block</p>'
        br
        ='      </div>'
        br
        ='      <div class="form-group">'
        br
        ='        <input type="text" placeholder="Label text" value="Hola mundo">'
        br
        ='        <label>Label text</label>'
        br
        ='        <p class="help-block">This is a help-block</p>'
        br
        ='      </div>'
        br
        ='      <div class="form-group has-warning">'
        br
        ='        <input type="text" placeholder="Label text" value="Hola mundo">'
        br
        ='        <label>Label text</label>'
        br
        ='        <p class="help-block">This is input has a warning</p>'
        br
        ='      </div>'
        br
        ='      <div class="form-group has-success">'
        br
        ='        <input type="text" placeholder="Label text" value="Hola mundo">'
        br
        ='        <label>Label text</label>'
        br
        ='        <p class="help-block">This input has success</p>'
        br
        ='      </div>'
        br
        ='      <div class="form-group has-error">'
        br
        ='        <input type="text" placeholder="Label text" value="Hola mundo">'
        br
        ='        <label>Label text</label>'
        br
        ='        <p class="help-block">This input has an error</p>'
        br
        ='      </div>'
        br
        ='      <div class="form-group">'
        br
        ='        <textarea placeholder="Label text" cols="6"></textarea>'
        br
        ='        <label>Label text</label>'
        br
        ='        <p class="help-block">This is a help-block</p>'
        br
        ='      </div>'
        br
        ='      <div class="form-group">'
        br
        ='        <select placeholder="Label text">'
        br
        ='          <option value=""></option>'
        br
        ='          <option>val</option>'
        br
        ='          <option>val</option>'
        br
        ='          <option>val</option>'
        br
        ='          <option>val</option>'
        br
        ='          <option>val</option>'
        br
        ='        </select>'
        br
        ='        <label>Label text</label>'
        br
        ='        <p class="help-block">This is a help-block</p>'
        br
        ='      </div>'
        br
        ='    </div>'
        br
        ='  </div>'
        br
