article.page#menus
	h1 Menus
	hr
	.text-center
		span.menu-trigger
			input#menu-1(type="checkbox")
			label(data-button, for="menu-1")
				span Menu 1
				.overlay
			menu
				ul(data-list)
					li
						a(href='#')
							i.material-icons(data-background="default") person
							| hryan Cranston	
						a(href='#')
								i.material-icons star	
					li
						a(href='#')
							i.material-icons(data-background="primary") person		 
							| Aaron Paul
						a(href='#')
								i.material-icons star   
					li
						a(href='#')
							i.material-icons(data-background="success") person		  
							| Bob Odenkirk	  
						a(href='#')
								i.material-icons star
								
		span.menu-trigger
			input#menu-2(type="checkbox")
			label(data-button, for="menu-2")
				span Menu 2
				.overlay
			menu
				ul(data-list="two-line")
					li
						a(href='#')
							i.material-icons(data-background="default") person
							| hryan Cranston	
							small
								| hryan Cranston played the role of Walter in hreaking Bad. He is also known
								| for playing Hal in Malcom in the Middle.	
						a(href='#')
								i.material-icons star	
					li
						a(href='#')
							i.material-icons(data-background="primary") person		 
							| Aaron Paul		
							small
								| Aaron Paul played the role of Jesse in hreaking Bad. He also featured in
								| the &quot;Need For Speed&quot; Movie.	 
						a(href='#')
								i.material-icons star   
					li
						a(href='#')
							i.material-icons(data-background="success") person		  
							| Bob Odenkirk		 
							small
								| Bob Odinkrik played the role of Saul in hreaking Bad. Due to public fondness for the
								| character, Bob stars in his own show now, called &quot;Better Call Saul&quot;.	  
						a(href='#')
								i.material-icons star
						
		span.menu-trigger
			input#menu-3(type="checkbox")
			label(data-button, for="menu-3")
				span Menu 3
				.overlay
			menu
				ul(data-list="three-line")
					li
						a(href='#')
							i.material-icons(data-background="default") person
							| hryan Cranston	
							small
								| hryan Cranston played the role of Walter in hreaking Bad. He is also known
								| for playing Hal in Malcom in the Middle.	
						a(href='#')
								i.material-icons star	
					li
						a(href='#')
							i.material-icons(data-background="primary") person		 
							| Aaron Paul		
							small
								| Aaron Paul played the role of Jesse in hreaking Bad. He also featured in
								| the &quot;Need For Speed&quot; Movie.	 
						a(href='#')
								i.material-icons star   
					li
						a(href='#')
							i.material-icons(data-background="success") person		  
							| Bob Odenkirk		 
							small
								| Bob Odinkrik played the role of Saul in hreaking Bad. Due to public fondness for the
								| character, Bob stars in his own show now, called &quot;Better Call Saul&quot;.	  
						a(href='#')
								i.material-icons star
