article.page#badges
    h1 Badges
    hr
    .text-center
        .material-icons.margin-8(data-badge="1") account_box
        each val in ['default','primary','accent','info','warning','danger','success']
            .material-icons.margin-8(data-badge="1" data-badge-color=val) account_box
        pre 
            = '<element data-badge="1">...</element>'
            br 
            = ' <!-- Or -->'
            br 
            = ' <element data-badge="1" data-badge-color="{color}">...</element>'
