article.page#cards
    h1 Cards
    h2 Simple card
    hr
    section(data-card)
        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
    pre
        code.language-html.
            &lt;section data-card&gt;
                &lt;div&gt;Lorem ipsum ...&lt;/section&gt;
            &lt;/section&gt;
    h2 Card with footer
    hr
    section(data-card)
        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
        footer
            nav
                button(data-button="primary") Get started
    pre
        code.language-html.
            &lt;section data-card&gt;
                &lt;div&gt;Lorem ipsum ...&lt;/section&gt;
                &lt;footer&gt;
                    &lt;nav&gt;
                        &lt;button data-button=&quot;primary&quot;&gt;Get started&lt;/button&gt;
                    &lt;/nav&gt;
                &lt;/footer&gt;
            &lt;/section&gt;
    h2 Card with header and footer
    hr
    section(data-card)
        header
            h2 Title
            nav
                button(data-fab="inline mini")
                    i.material-icons share
        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
        footer
            nav
                button(data-button="primary") Get started
    pre
        code.language-html.
            &lt;section data-card&gt;
                &lt;header&gt;
                    &lt;h2&gt;Title&lt;/h2&gt;
                    &lt;nav&gt;
                        &lt;button data-fab=&quot;inline mini&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;share&lt;/i&gt;&lt;/button&gt;
                    &lt;/nav&gt;
                &lt;/header&gt;
                &lt;div&gt;Lorem ipsum ...&lt;/section&gt;
                &lt;footer&gt;
                    &lt;nav&gt;
                        &lt;button data-button=&quot;primary&quot;&gt;Get started&lt;/button&gt;
                    &lt;/nav&gt;
                &lt;/footer&gt;
            &lt;/section&gt;
    h2 Card with media
    hr
    section(data-card)
        div(data-card-media, style="background-image: url(./img.jpeg)")
            header
                h2 Title
                nav
                    button(data-fab="inline mini")
                        i.material-icons share
        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
        footer
            nav
                button(data-button="primary") Get started
    pre
        code.language-html.
            &lt;section data-card&gt;
                &lt;section data-card-media style=&quot;background-image: url(http://lorempixel.com/480/480/abstract/)&quot;&gt;
                    &lt;header&gt;
                        &lt;h2&gt;Title&lt;/h2&gt;
                        &lt;nav&gt;
                            &lt;button data-fab=&quot;inline mini&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;share&lt;/i&gt;&lt;/button&gt;
                        &lt;/nav&gt;
                    &lt;/header&gt;
                &lt;/section&gt;
                &lt;div&gt;Lorem ipsum...&lt;/section&gt;
                &lt;footer&gt;
                    &lt;nav&gt;
                        &lt;button data-button=&quot;primary&quot;&gt;Get started&lt;/button&gt;
                    &lt;/nav&gt;
                &lt;/footer&gt;
            &lt;/section&gt;
    h2 Card squared
    hr
    div(data-card="squared")
        div(data-card-media, style="background-image: url(./img.jpeg)")
            header
                h2 Title
                nav
                    button(data-fab="inline mini")
                        i.material-icons share
    pre
        code.language-html.
            &lt;section data-card=&quot;squared&quot; style=&quot;background-image: url(http://lorempixel.com/480/480/abstract/)&quot;&gt;
                &lt;section data-card-media&gt;
                    &lt;header&gt;
                        &lt;h2&gt;Title&lt;/h2&gt;
                        &lt;nav&gt;
                            &lt;button data-fab=&quot;inline mini&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;share&lt;/i&gt;&lt;/button&gt;
                        &lt;/nav&gt;
                    &lt;/header&gt;
                &lt;/section&gt;
            &lt;/section&gt;
    h2 Card squared with text instead of media
    hr
    div(data-card="squared")
        div(data-card-media)
            header
                h2 Title
                nav
                    button(data-fab="inline mini")
                        i.material-icons share
            div(data-background="primary") Feautred event: <br> May 24, 2016 <br> 7-11pm
    pre
        code.language-html.
            &lt;section data-card=&quot;squared&quot;&gt;
                &lt;section data-card-media&gt;
                    &lt;header&gt;
                        &lt;h2&gt;Title&lt;/h2&gt;
                        &lt;nav&gt;
                            &lt;button data-fab=&quot;inline mini&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;share&lt;/i&gt;&lt;/button&gt;
                        &lt;/nav&gt;
                    &lt;/header&gt;
                    &lt;div data-background=&quot;primary&quot;&gt;
                        Featured event: &lt;br&gt; May 24, 2016 &lt;br&gt; 7-11pm
                    &lt;/section&gt;
                &lt;/section&gt;
            &lt;/section&gt;

    h2 Full width card
    hr
    div(data-card="full-width")
        header
            h2 Title
            nav
                button(data-fab="inline mini")
                    i.material-icons share
        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
        footer
            nav
                button(data-button="primary") Get started
    pre
        code.language-html.
            &lt;section data-card=&quot;full-width&quot;&gt;
                &lt;header&gt;
                    &lt;h2&gt;Title&lt;/h2&gt;
                    &lt;nav&gt;
                        &lt;button data-fab=&quot;inline mini&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;share&lt;/i&gt;&lt;/button&gt;
                    &lt;/nav&gt;
                &lt;/header&gt;
                &lt;div&gt;Lorem ipsum ...&lt;/section&gt;
                &lt;footer&gt;
                    &lt;nav&gt;
                        &lt;button data-button=&quot;primary&quot;&gt;Get started&lt;/button&gt;
                    &lt;/nav&gt;
                &lt;/footer&gt;
            &lt;/section&gt;
