article.page#dialogs
    h1 Dialogs
    hr
    .text-center
        input#dialog-1(type="checkbox", data-dialog-trigger)
        label(data-button for="dialog-1")
            span dialog-1
        dialog(data-card)
            header
                h2 Title
                nav
                    button(data-fab="inline mini")
                        i.material-icons share
            section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
            footer
                button(data-button="primary") Get started

        input#dialog-2(type="checkbox", data-dialog-trigger)
        label(data-button for="dialog-2")
            span dialog-2
        dialog(data-card)
            section(data-card-media)
                header
                    h2 Title
                    nav
                        button(data-fab="inline mini")
                            i.material-icons share
                img(src="./img.jpeg")
            section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
            footer
                button(data-button="primary") Get started

        input#dialog-3(type="checkbox", data-dialog-trigger)
        label(data-button for="dialog-3")
            span dialog-3
        dialog(data-card="squared")
            section(data-card-media)
                header
                    h2 Title
                    nav
                        button(data-fab="inline mini")
                            i.material-icons share
                img(src="./img.jpeg")


        input#dialog-4(type="checkbox", data-dialog-trigger)
        label(data-button for="dialog-4")
            span dialog-4
        dialog(data-card="squared")
            section(data-card-media)
                header
                    h2 Title
                    nav
                        button(data-fab="inline mini")
                            i.material-icons share
                section(data-background="primary") Feautred event: <br> May 24, 2016 <br> 7-11pm
