article.page#elevations
    h1 Elevations
    hr
    div(data-grid="gutters")
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="1", data-background="white").padding-8 data-elevation="1"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="2", data-background="white").padding-8 data-elevation="2"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="3", data-background="white").padding-8 data-elevation="3"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="4", data-background="white").padding-8 data-elevation="4"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="6", data-background="white").padding-8 data-elevation="6"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="8", data-background="white").padding-8 data-elevation="8"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="9", data-background="white").padding-8 data-elevation="9"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="10", data-background="white").padding-8 data-elevation="10"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="11", data-background="white").padding-8 data-elevation="11"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="12", data-background="white").padding-8 data-elevation="12"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="16", data-background="white").padding-8 data-elevation="16"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="24", data-background="white").padding-8 data-elevation="24"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="26", data-background="white").padding-8 data-elevation="26"
    h1 Embosses
    hr
    div(data-grid="gutters")
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="1", data-background="white").padding-8 data-emboss="1"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="2", data-background="white").padding-8 data-emboss="2"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="3", data-background="white").padding-8 data-emboss="3"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="4", data-background="white").padding-8 data-emboss="4"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="6", data-background="white").padding-8 data-emboss="6"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="8", data-background="white").padding-8 data-emboss="8"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="9", data-background="white").padding-8 data-emboss="9"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="10", data-background="white").padding-8 data-emboss="10"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="11", data-background="white").padding-8 data-emboss="11"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="12", data-background="white").padding-8 data-emboss="12"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="16", data-background="white").padding-8 data-emboss="16"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="24", data-background="white").padding-8 data-emboss="24"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="26", data-background="white").padding-8 data-emboss="26"

    h1 Utility classes
    hr
    div(data-grid="gutters").margin-top-8
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="2 hover-16", data-background="white").padding-8 data-elevation="2 hover-16"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-elevation="2 active-16", data-background="white").padding-8 data-elevation="2 active-16"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            input(data-elevation="2 focus-16", data-background="white", value='data-elevation="2 focus-16"')
        hr
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="2 hover-16", data-background="white").padding-8 data-emboss="2 hover-16"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            div(data-emboss="2 active-16", data-background="white").padding-8 data-emboss="2 active-16"
        div(data-column="xlg-3 lg-4 md-6 sm-12")
            input(data-emboss="2 focus-16", data-background="white", value='data-emboss="2 focus-16"')
