article.page#forms

    h1 Forms
    hr
    section(data-card)
        section
            div.form-group
                input(type="text" placeholder="Label text")
                label Label text
                p.help-block This is a help-block
            div.form-group
                input(type="text" placeholder="Label text" value="Hola mundo")
                label Label text
                p.help-block This is a help-block
            div.form-group.has-warning
                input(type="text" placeholder="Label text" value="Hola mundo")
                label Label text
                p.help-block This is input has a warning
            div.form-group.has-success
                input(type="text" placeholder="Label text" value="Hola mundo")
                label Label text
                p.help-block This input has success
            div.form-group.has-error
                input(type="text" placeholder="Label text" value="Hola mundo")
                label Label text
                p.help-block This input has an error
            div.form-group
                textarea(placeholder="Label text" cols="6")
                label Label text
                p.help-block This is a help-block
            div.form-group
                select(placeholder="Label text")
                    option(value = "")
                    each val in [1,2,3,4,5]
                        option val
                label Label text
                p.help-block This is a help-block
            div 
                label Label text
                input(type="text" placeholder="Label text")
                p.help-block This is a help-block
    pre
        code.language-html.
            &lt;div data-card&gt;
                &lt;div&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;input type=&quot;text&quot; placeholder=&quot;Label text&quot;&gt;
                        &lt;label&gt;Label text&lt;/label&gt;
                        &lt;p class=&quot;help-block&quot;&gt;This is a help-block&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;input type=&quot;text&quot; placeholder=&quot;Label text&quot; value=&quot;Hola mundo&quot;&gt;
                        &lt;label&gt;Label text&lt;/label&gt;
                        &lt;p class=&quot;help-block&quot;&gt;This is a help-block&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group has-warning&quot;&gt;
                        &lt;input type=&quot;text&quot; placeholder=&quot;Label text&quot; value=&quot;Hola mundo&quot;&gt;
                        &lt;label&gt;Label text&lt;/label&gt;
                        &lt;p class=&quot;help-block&quot;&gt;This is input has a warning&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group has-success&quot;&gt;
                        &lt;input type=&quot;text&quot; placeholder=&quot;Label text&quot; value=&quot;Hola mundo&quot;&gt;
                        &lt;label&gt;Label text&lt;/label&gt;
                        &lt;p class=&quot;help-block&quot;&gt;This input has success&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group has-error&quot;&gt;
                        &lt;input type=&quot;text&quot; placeholder=&quot;Label text&quot; value=&quot;Hola mundo&quot;&gt;
                        &lt;label&gt;Label text&lt;/label&gt;
                        &lt;p class=&quot;help-block&quot;&gt;This input has an error&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;textarea placeholder=&quot;Label text&quot; cols=&quot;6&quot;&gt;&lt;/textarea&gt;
                        &lt;label&gt;Label text&lt;/label&gt;
                        &lt;p class=&quot;help-block&quot;&gt;This is a help-block&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;select placeholder=&quot;Label text&quot;&gt;
                            &lt;option value=&quot;&quot;&gt;&lt;/option&gt;
                            &lt;option&gt;val&lt;/option&gt;
                            &lt;option&gt;val&lt;/option&gt;
                            &lt;option&gt;val&lt;/option&gt;
                            &lt;option&gt;val&lt;/option&gt;
                            &lt;option&gt;val&lt;/option&gt;
                        &lt;/select&gt;
                        &lt;label&gt;Label text&lt;/label&gt;
                        &lt;p class=&quot;help-block&quot;&gt;This is a help-block&lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
