article.page#grid
    h1
        | Simple row
        small (Columns without gutters)
    hr
    div(data-grid)
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"

        div(data-column="2" data-background="white", class="padding-8" data-elevation="2") data-column="2"
        div(data-column="2" data-background="white", class="padding-8" data-elevation="2") data-column="2"
        div(data-column="2" data-background="white", class="padding-8" data-elevation="2") data-column="2"
        div(data-column="2" data-background="white", class="padding-8" data-elevation="2") data-column="2"
        div(data-column="2" data-background="white", class="padding-8" data-elevation="2") data-column="2"
        div(data-column="2" data-background="white", class="padding-8" data-elevation="2") data-column="2"

        div(data-column="3" data-background="white", class="padding-8" data-elevation="2") data-column="3"
        div(data-column="3" data-background="white", class="padding-8" data-elevation="2") data-column="3"
        div(data-column="3" data-background="white", class="padding-8" data-elevation="2") data-column="3"
        div(data-column="3" data-background="white", class="padding-8" data-elevation="2") data-column="3"

        div(data-column="4" data-background="white", class="padding-8" data-elevation="2") data-column="4"
        div(data-column="4" data-background="white", class="padding-8" data-elevation="2") data-column="4"
        div(data-column="4" data-background="white", class="padding-8" data-elevation="2") data-column="4"

        div(data-column="5" data-background="white", class="padding-8" data-elevation="2") data-column="5"
        div(data-column="5" data-background="white", class="padding-8" data-elevation="2") data-column="5"
        div(data-column="2" data-background="white", class="padding-8" data-elevation="2") data-column="2"

        div(data-column="6" data-background="white", class="padding-8" data-elevation="2") data-column="6"
        div(data-column="6" data-background="white", class="padding-8" data-elevation="2") data-column="6"

        div(data-column="7" data-background="white", class="padding-8" data-elevation="2") data-column="7"
        div(data-column="5" data-background="white", class="padding-8" data-elevation="2") data-column="5"

        div(data-column="8" data-background="white", class="padding-8" data-elevation="2") data-column="8"
        div(data-column="4" data-background="white", class="padding-8" data-elevation="2") data-column="4"

        div(data-column="9" data-background="white", class="padding-8" data-elevation="2") data-column="9"
        div(data-column="3" data-background="white", class="padding-8" data-elevation="2") data-column="3"

        div(data-column="10" data-background="white", class="padding-8" data-elevation="2") data-column="10"
        div(data-column="2" data-background="white", class="padding-8" data-elevation="2") data-column="2"

        div(data-column="11" data-background="white", class="padding-8" data-elevation="2") data-column="11"
        div(data-column="1" data-background="white", class="padding-8" data-elevation="2") data-column="1"

        div(data-column="12" data-background="white", class="padding-8" data-elevation="2") data-column="12"
    pre
        code.language-html.
            &#x3C;div data-grid&#x3E;
                &#x3C;div data-column=&#x22;{size}&#x22;&#x3E;&#x3C;/div&#x3E;
                &#x3C;!-- Or --&#x3E;
                &#x3C;div data-column=&#x22;{screen}-{size}&#x22;&#x3E;&#x3C;/div&#x3E;
            &#x3C;/div&#x3E;

    h1
        | Row guttered
        small (Columns with gutters)
    hr
    div(data-grid="gutters")
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"

        div(data-column="2")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="2"
        div(data-column="2")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="2"
        div(data-column="2")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="2"
        div(data-column="2")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="2"
        div(data-column="2")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="2"
        div(data-column="2")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="2"

        div(data-column="3")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="3"
        div(data-column="3")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="3"
        div(data-column="3")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="3"
        div(data-column="3")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="3"

        div(data-column="4")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="4"
        div(data-column="4")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="4"
        div(data-column="4")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="4"

        div(data-column="5")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="5"
        div(data-column="5")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="5"
        div(data-column="2")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="2"

        div(data-column="6")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="6"
        div(data-column="6")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="6"

        div(data-column="7")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="7"
        div(data-column="5")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="5"

        div(data-column="8")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="8"
        div(data-column="4")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="4"

        div(data-column="9")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="9"
        div(data-column="3")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="3"

        div(data-column="10")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="10"
        div(data-column="2")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="2"

        div(data-column="11")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="11"
        div(data-column="1")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="1"

        div(data-column="12")
            div(data-elevation="2", data-background="white", class="padding-8") data-column="12"
    pre
        code.language-html.
            &#x3C;div data-grid=&#x22;gutters&#x22;&#x3E;
                &#x3C;div data-column=&#x22;{size}&#x22;&#x3E;&#x3C;/div&#x3E;
                &#x3C;!-- Or --&#x3E;
                &#x3C;div data-column=&#x22;{screen}-{size}&#x22;&#x3E;&#x3C;/div&#x3E;
            &#x3C;/div&#x3E;



    h1 Screen sizes
    hr
    table
        thead
            tr
                th Device
                th Class code.language-htmlfix
                th Screen size
        tbody.text-left
            tr
                td Extra small devices
                td data-column="xs-{size}"
                td Phones (<480px)
            tr
                td Small devices
                td data-column="sm-{size}"
                td Tablets (<840px)
            tr
                td Medium devices
                td data-column="md-{size}"
                td Desktops (<1280px)
            tr
                td Large devices
                td data-column="lg-{size}"
                td Desktops (<1440px)
            tr
                td Extra large devices
                td data-column="xlg-{size}"
                td Desktops (>1440px)
    h1 Responsive columns
    hr
    div(data-grid="gutters")
        div(data-column="xs-12 sm-6 md-4 lg-3 xlg-2")
            div(data-elevation="2", data-background="white", class="padding-8") &nbsp
        div(data-column="xs-12 sm-6 md-4 lg-3 xlg-2")
            div(data-elevation="2", data-background="white", class="padding-8") &nbsp
        div(data-column="xs-12 sm-6 md-4 lg-3 xlg-2")
            div(data-elevation="2", data-background="white", class="padding-8") &nbsp
        div(data-column="xs-12 sm-6 md-4 lg-3 xlg-2")
            div(data-elevation="2", data-background="white", class="padding-8") &nbsp
        div(data-column="xs-12 sm-6 md-4 lg-3 xlg-2")
            div(data-elevation="2", data-background="white", class="padding-8") &nbsp
        div(data-column="xs-12 sm-6 md-4 lg-3 xlg-2")
            div(data-elevation="2", data-background="white", class="padding-8") &nbsp
    pre
        code.language-html.
            &lt;div data-grid-gutter&gt;
                &lt;div data-column=&quot;xs-12 sm-6 md-4 lg-3 xlg-2&quot;&gt;
                    &lt;div data-elevation=&quot;2&quot; data-background=&quot;white&quot; class=&quot;padding-8&quot;&gt;&amp;nbsp;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div data-column=&quot;xs-12 sm-6 md-4 lg-3 xlg-2&quot;&gt;
                    &lt;div data-elevation=&quot;2&quot; data-background=&quot;white&quot; class=&quot;padding-8&quot;&gt;&amp;nbsp;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div data-column=&quot;xs-12 sm-6 md-4 lg-3 xlg-2&quot;&gt;
                    &lt;div data-elevation=&quot;2&quot; data-background=&quot;white&quot; class=&quot;padding-8&quot;&gt;&amp;nbsp;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div data-column=&quot;xs-12 sm-6 md-4 lg-3 xlg-2&quot;&gt;
                    &lt;div data-elevation=&quot;2&quot; data-background=&quot;white&quot; class=&quot;padding-8&quot;&gt;&amp;nbsp;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div data-column=&quot;xs-12 sm-6 md-4 lg-3 xlg-2&quot;&gt;
                    &lt;div data-elevation=&quot;2&quot; data-background=&quot;white&quot; class=&quot;padding-8&quot;&gt;&amp;nbsp;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div data-column=&quot;xs-12 sm-6 md-4 lg-3 xlg-2&quot;&gt;
                    &lt;div data-elevation=&quot;2&quot; data-background=&quot;white&quot; class=&quot;padding-8&quot;&gt;&amp;nbsp;&lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
