article.page#lists
    h1 Lists
    hr
    h2 Simple list with primary content
    hr
    ul(data-list)
        li
            a(tabindex=-1) Bhryan Cranston
        li
            a(tabindex=-1) Aaron Paul
        li
            a(tabindex=-1) Bob Odenkirk
    pre
        code.language-html.
            &lt;ul data-list&gt;
                &lt;li&gt;
                      &lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
    h2 List with primary and secondary content
    hr
    ul(data-list)
        li
            a(tabindex=-1) Bhryan Cranston
            a(tabindex=-1)
                    i.material-icons star
        li
            a(tabindex=-1) Aaron Paul
            a(tabindex=-1)
                    i.material-icons star
        li
            a(tabindex=-1) Bob Odenkirk
            a(tabindex=-1)
                    i.material-icons star
        pre
            code.language-html.
                &lt;ul data-list&gt;
                    &lt;li&gt;
                          &lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;
                          &lt;a href=&quot;#&quot;&gt;
                              &lt;i class=&quot;material-icons&quot; data-background=&quot;default&quot;&gt;person&lt;/i&gt;
                          &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
    h2 Simple list with primary content and icon
    hr
    ul(data-list)
        li
            a(tabindex=-1)
                i.material-icons(data-background="default") person
                | Bhryan Cranston
        li
            a(tabindex=-1)
                i.material-icons(data-background="primary") person
                | Aaron Paul
        li
            a(tabindex=-1)
                i.material-icons(data-background="success") person
                | Bob Odenkirk
    pre
        code.language-html.
            &lt;ul data-list&gt;
                &lt;li&gt;
                      &lt;a href=&quot;#&quot;&gt;
                          &lt;i class=&quot;material-icons&quot; data-background=&quot;default&quot;&gt;person&lt;/i&gt;
                          ...
                      &lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
    h2 List with primary content and icon and secondary content
    hr
    ul(data-list)
        li
            a(tabindex=-1)
                i.material-icons(data-background="default") person
                | Bhryan Cranston
            a(tabindex=-1)
                    i.material-icons star
        li
            a(tabindex=-1)
                i.material-icons(data-background="primary") person
                | Aaron Paul
            a(tabindex=-1)
                    i.material-icons star
        li
            a(tabindex=-1)
                i.material-icons(data-background="success") person
                | Bob Odenkirk
            a(tabindex=-1)
                    i.material-icons star
        pre
            code.language-html.
                &lt;ul data-list&gt;
                    &lt;li&gt;
                          &lt;a href=&quot;#&quot;&gt;
                              &lt;i class=&quot;material-icons&quot; data-background=&quot;default&quot;&gt;person&lt;/i&gt;
                              ...
                          &lt;/a&gt;
                          &lt;a href=&quot;#&quot;&gt;
                              &lt;i class=&quot;material-icons&quot;&gt;star&lt;/i&gt;
                          &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
    h2 Two line list
    hr
    ul(data-list="two-line")
        li
            a(tabindex=-1)
                i.material-icons(data-background="default") person
                | Bhryan Cranston
                small
                    | Bhryan Cranston played the role of Walter in hreaking Bad. He is also known
                    | for playing Hal in Malcom in the Middle.
            a(tabindex=-1)
                    i.material-icons star
        li
            a(tabindex=-1)
                i.material-icons(data-background="primary") person
                | Aaron Paul
                small
                    | Aaron Paul played the role of Jesse in hreaking Bad. He also featured in
                    | the &quot;Need For Speed&quot; Movie.
            a(tabindex=-1)
                    i.material-icons star
        li
            a(tabindex=-1)
                i.material-icons(data-background="success") person
                | Bob Odenkirk
                small
                    | Bob Odinkrik played the role of Saul in hreaking Bad. Due to public fondness for the
                    | character, Bob stars in his own show now, called &quot;Better Call Saul&quot;.
            a(tabindex=-1)
                    i.material-icons star
        pre
            code.language-html.
                &lt;ul data-list=&quot;two-line&quot;&gt;
                    &lt;li&gt;
                          &lt;a href=&quot;#&quot;&gt;
                              &lt;i class=&quot;material-icons&quot; data-background=&quot;default&quot;&gt;person&lt;/i&gt;
                              ...
                              &lt;small&gt;
                                  Lorem ipsum...
                              &lt;/small&gt;
                          &lt;/a&gt;
                          &lt;a href=&quot;#&quot;&gt;
                              &lt;i class=&quot;material-icons&quot;&gt;star&lt;/i&gt;
                          &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
    h2 Three line list
    hr
    ul(data-list="three-line")
        li
            a(tabindex=-1)
                i.material-icons(data-background="default") person
                | Bhryan Cranston
                small
                    | Bhryan Cranston played the role of Walter in hreaking Bad. He is also known
                    | for playing Hal in Malcom in the Middle.
            a(tabindex=-1)
                    i.material-icons star
        li
            a(tabindex=-1)
                i.material-icons(data-background="primary") person
                | Aaron Paul
                small
                    | Aaron Paul played the role of Jesse in hreaking Bad. He also featured in
                    | the &quot;Need For Speed&quot; Movie.
            a(tabindex=-1)
                    i.material-icons star
        li
            a(tabindex=-1)
                i.material-icons(data-background="success") person
                | Bob Odenkirk
                small
                    | Bob Odinkrik played the role of Saul in hreaking Bad. Due to public fondness for the
                    | character, Bob stars in his own show now, called &quot;Better Call Saul&quot;.
            a(tabindex=-1)
                    i.material-icons star
        pre
            code.language-html.
                &lt;ul data-list=&quot;three-line&quot;&gt;
                    &lt;li&gt;
                          &lt;a href=&quot;#&quot;&gt;
                              &lt;i class=&quot;material-icons&quot; data-background=&quot;default&quot;&gt;person&lt;/i&gt;
                              ...
                              &lt;small&gt;
                                  Lorem ipsum...
                              &lt;/small&gt;
                          &lt;/a&gt;
                          &lt;a href=&quot;#&quot;&gt;
                              &lt;i class=&quot;material-icons&quot;&gt;star&lt;/i&gt;
                          &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
