- var colors = [{name: 'Primary', class: 'primary'},{name: 'Accent', class: 'accent'},{name: 'Info', class: 'info'}, {name: 'Success', class: 'success'}, {name: 'Warning', class: 'warning'}, {name: 'Danger', class: 'danger'},{name: 'Default', class: 'default'}];
article.page#progress
    h1 Progress
    hr
    h3 Progress to 40%
    div(data-progress)
        div(data-background="default", style="width: 40%")
    pre
        code.language-html.
            &lt;div data-progress&gt;
                &lt;div data-background=&quot;default&quot; style=&quot;width: 40%&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
    hr
    h3 Progress indeterminated
    div(data-progress="indeterminated")
    pre
        code.language-html
            =   '<div data-progress="indeterminated"></div>'
    hr
    h3 Colors
    each color in colors
        h4 #{color.name}
        div(data-progress="indeterminated "+color.class)

        pre
            code.language-html
                =   '<div data-progress="indeterminated '+color.class+'"></div>'
