article#spinner.page
    h1 Spinners
    hr
    .text-center
        div(data-spinner)
        each val in ['default','primary','accent','info','warning','danger','success']
            div(data-spinner=val)
        pre
            code.language-html.
                &lt;div data-spinner&gt;&lt;/div&gt;
                &lt;!-- Or --&gt;
                &lt;div data-spinner=&quot;{color}&quot;&gt;&lt;/div&gt;

        div(data-spinner="mini")
        pre
            code.language-html.
                &lt;div data-spinner=&quot;mini&quot;&gt;&lt;/div&gt;
        div(data-row)
            div(data-column="2").relative
                div(data-spinner="full")
        pre
            code.language-html.
                &lt;div data-spinner=&quot;full&quot;&gt;&lt;/div&gt;
        button(data-fab="inline info")
            i.material-icons add
            div(data-spinner="success")
        pre
            code.language-html.
                &lt;div data-fab=&quot;inline info&quot;&gt;
                     &lt;i class=&quot;material-icons&quot;&gt;add&lt;/i&gt;
                     &lt;div data-spinner=&quot;success&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;
