article.page#tables
    h1 Tables
    hr
    table
        thead
            tr
                th.text-left Material
                th Quantity
                th Unit price
        tbody
            tr
                td.text-left Acrylic (Transparent)
                td 25
                td $2.90
            tr
                td.text-left Plywood (Birch)
                td 50
                td $1.25
            tr
                td.text-left Laminate (Gold on Blue)
                td 10
                td $2.35
    pre
        ='  <table>'
        br
        ='    <thead>'
        br
        ='      <tr>'
        br
        ='        <th class="text-left">Material</th>'
        br
        ='        <th>Quantity</th>'
        br
        ='        <th>Unit price</th>'
        br
        ='      </tr>'
        br
        ='    </thead>'
        br
        ='    <tbody>'
        br
        ='      <tr>'
        br
        ='        <td class="text-left">Acrylic (Transparent)</td>'
        br
        ='        <td>25</td>'
        br
        ='        <td>$2.90</td>'
        br
        ='      </tr>'
        br
        ='      <tr>'
        br
        ='        <td class="text-left">Plywood (Birch)</td>'
        br
        ='        <td>50</td>'
        br
        ='        <td>$1.25</td>'
        br
        ='      </tr>'
        br
        ='      <tr>'
        br
        ='        <td class="text-left">Laminate (Gold on Blue)</td>'
        br
        ='        <td>10</td>'
        br
        ='        <td>$2.35</td>'
        br
        ='      </tr>'
        br
        ='    </tbody>'
        br
        ='  </table>'
