article.page#tables
    h1 Tables
    hr
    table
        thead
            tr
                th.text-left Material
                th Quantity
                th Unit price
        tbody
            tr
                td.text-left Acrylic (Transparent)
                td 25
                td $2.90
            tr
                td.text-left Plywood (Birch)
                td 50
                td $1.25
            tr
                td.text-left Laminate (Gold on Blue)
                td 10
                td $2.35
    pre
        code.language-html.
            &lt;table&gt;
                &lt;thead&gt;
                    &lt;tr&gt;
                        &lt;th class=&quot;text-left&quot;&gt;Material&lt;/th&gt;
                        &lt;th&gt;Quantity&lt;/th&gt;
                        &lt;th&gt;Unit price&lt;/th&gt;
                    &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;text-left&quot;&gt;Acrylic (Transparent)&lt;/td&gt;
                        &lt;td&gt;25&lt;/td&gt;
                        &lt;td&gt;$2.90&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;text-left&quot;&gt;Plywood (Birch)&lt;/td&gt;
                        &lt;td&gt;50&lt;/td&gt;
                        &lt;td&gt;$1.25&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;td class=&quot;text-left&quot;&gt;Laminate (Gold on Blue)&lt;/td&gt;
                        &lt;td&gt;10&lt;/td&gt;
                        &lt;td&gt;$2.35&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;
            &lt;/table&gt;
