article#tooltips.page
    h1 Tooltips
    hr
    .text-center
        .material-icons.margin-8(data-tooltip="This is a tooltip") account_box
        each val in ['default','primary','accent','info','warning','danger','success']
            .material-icons.margin-8(data-tooltip="This is a tooltip" data-tooltip-color=val) account_box
        pre 
            = '<element data-tooltip="Tooltip content">...</element>'
            br 
            = ' <!-- Or -->'
            br 
            = ' <element data-tooltip="Tooltip content" data-tooltip-color="{color}">...</element>'
