article#tooltips.page
    h1 Tooltips
    hr
    .text-center
        .material-icons.margin-8(data-tooltip="This is a tooltip") account_box
        each val in ['default','primary','accent','info','warning','danger','success']
            .material-icons.margin-8(data-tooltip="This is a tooltip" data-tooltip-color=val) account_box
        pre
            code.language-html.
                &lt;element data-tooltip=&quot;Tooltip content&quot;&gt;...&lt;/element&gt;
                &lt;!-- Or --&gt;
                &lt;element data-tooltip=&quot;Tooltip content&quot; data-tooltip-color=&quot;{color}&quot;&gt;...&lt;/element&gt;
    h2 Position
    hr
    .text-center
        .material-icons.margin-8(data-tooltip="This is a tooltip") account_box
        .material-icons.margin-8(data-tooltip="This is a tooltip", data-tooltip-position="top") account_box
        .material-icons.margin-8(data-tooltip="This is a tooltip", data-tooltip-position="left") account_box
        .material-icons.margin-8(data-tooltip="This is a tooltip", data-tooltip-position="right") account_box
        pre
            code.language-html.
                &lt;element data-tooltip=&quot;Tooltip content&quot;&gt;...&lt;/element&gt;
                &lt;element data-tooltip=&quot;Tooltip content&quot; data-tooltip-position=&quot;top&quot;&gt;...&lt;/element&gt;
                &lt;element data-tooltip=&quot;Tooltip content&quot; data-tooltip-position=&quot;left&quot;&gt;...&lt;/element&gt;
                &lt;element data-tooltip=&quot;Tooltip content&quot; data-tooltip-position=&quot;right&quot;&gt;...&lt;/element&gt;
