button,
[data-button],
[data-fab]
    border: none;
    border-radius: .2rem;
    position: relative;
    min-width: 6.4rem;
    padding: 1.2rem 1.6rem;
    line-height: 1;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    &[disabled]
        opacity: 0.8;
        cursor: default;

[data-button~="outline"]
    border: .1rem solid;

[data-button~="raised"],
[data-button~="outline"]
    margin: .4rem;

[data-fab]
    border-radius: 50%;
    font-size: 2.4rem;
    height: 5.6rem;
    width: 5.6rem;
    min-width: 3.0rem;
    padding: 0;
    line-height: 5.6rem;
    position: fixed;
    right: 1.6rem;
    bottom: 1.6rem;
    overflow: visible;
    >[class*="icon"]
        line-height: 5.6rem;
        font-size: 2.4rem;

[data-fab~="inline"]
    position: relative;
    display: inline-block;
    top:auto;
    left: auto;
    right: auto;
    bottom: auto;
    vertical-align: middle;

[data-fab~="mini"]
    font-size: 1.6rem;
    height: 3.0rem;
    width: 3.0rem;
    min-width: 3.0rem;
    line-height: 3.0rem;
    >[class*="icon"]
        line-height: 3.0rem;
        font-size: 1.6rem;
