/*** Dialog Enhancement ***/
dialog
    animation-duration: 0.5s;
    animation-fill-mode: both;
    opacity: 0;
    position: fixed;
    top: calc(50% + 32rem);
    left: 50%;
    transform: translate(-50%,-50%);
    right: auto;
    padding: 0;
    border: 0;
    z-index: -1;
    &>footer
        text-align: right;
    &::before
        content: ' ';
        overlay()
        width: 9999rem;
        height: 9999rem;
        margin: -3333rem 0 0 -3333rem;
    &[open]::before
        display: block;
        opacity: 1;
    &::after
        content: ' ';
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

.dialog-trigger
    position: absolute;
    top: -9999rem;
    left: -9999rem;

.dialog-trigger:checked+label>.overlay
    opacity: 1;
    z-index: 24;
    display: block;

.dialog-trigger:checked+label+dialog,dialog[open]
    opacity: 1;
    elevation(24);
