/*** Dialog Enhancement ***/
dialog, dialog[data-card]
    animation-duration: 0.5s;
    animation-fill-mode: both;
    opacity: 0;
    position: fixed;
    top: calc(50% + 3.2rem);
    left: 50%;
    transform: translate(-50%,-50%);
    right: auto;
    padding: 0;
    border: 0;
    z-index: -1;
    &>footer
        text-align: right;
    &::before
        content: ' ';
        overlay();
        width: 9999rem;
        height: 9999rem;
        transform: translate(-50%, -50%);
    &::after
        content: ' ';
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

input[data-dialog-trigger]
    position: absolute;
    top: -9999rem;
    left: -9999rem;

input[data-dialog-trigger]+label::before
    content: ' ';
    overlay();
    width: 9999rem;
    height: 9999rem;

[data-dialog-trigger]:checked+label::before
    z-index: 24;
    display: block;
    opacity: 0;

[data-dialog-trigger]:checked+label+dialog,dialog[open]
    opacity: 1;
    &::before
        opacity: 1;
        display: block;

[data-dialog-trigger]:checked+label+dialog::before
    display: none;
