/*** Same as Card ***/
dialog
    flexContainer : column;
    text-align: left;
    border-radius: 2rem;
    max-width: 360rem; // TODO: 264 on mobile
    margin: 0 auto;
    margin-bottom: 16rem;
    &>header
        order: 1;
        flex: 0 0 auto;
        > h1, > h2, > h3, > h4, > h5, > h6
            margin: 0;
    &>div
        order: 2;
        flex: 1 1 auto;
        padding: 16rem;
        overflow: auto;
        z-index: 0;
    &>footer
        order: 3;
        flex: 0 1 auto;
        padding: 8rem 0;
    &>[data-dialog-media]
        order: 0;
        flex: 1 1 auto;
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 56% 0;
        overflow: hidden;
        border: 0;
        &>header
            margin: 0;
            position: absolute;
            bottom: 0;
            top:0;
            left:0;
            right:0;
            border: 0;
            height: auto;
            z-index: 1;
            > h1, > h2, > h3, > h4, > h5, > h6
                position: absolute;
                bottom:0;
                margin-left:0
            nav
                position: absolute;
                top:0;
                right: 0;
        &>div
            padding: 16rem;

[data-dialog="squared"]
    max-width: 256rem;
    min-width: 256rem;
    &>[data-dialog-media]
        padding-bottom: 100%;
        &>header
            top: auto;
            height: 60rem;
            text-shadow: none;
            > h1, > h2, > h3, > h4, > h5, > h6
                position: static;
            nav
                position: static;
        &>div
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 24px;
            padding-right: 25%;
            font-weight: 400;
            margin: -1rem;

/*** Dialog Enhancement ***/
dialog
	animation-duration: 0.5s;
	animation-fill-mode: both;
	opacity: 0;
	position: fixed;
	top: calc(50% + 32rem);
	left: 50%;
	transform: translate(-50%,-50%);
	right: auto;
	padding: 0;
	border: 0;
	z-index: -1;
	&>[data-dialog-media]
		&>header
			> h1, > h2, > h3, > h4, > h5, > h6
				margin-left: 8rem;
		&>div
			padding: 16rem;
	&>header
		padding: 0 8rem;
	&>div
		padding: 16rem 24rem;
	&>footer
		padding: 8rem;
		text-align: right;
	&::before
		content: ' ';
		overlay()
		width: 9999rem;
		height: 9999rem;
		margin: -3333rem 0 0 -3333rem;
	&[open]::before
		display: block;
		opacity: 1;
	&::after
		content: ' ';
		z-index: -1;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

.dialog-trigger
	position: absolute;
	top: -9999rem;
	left: -9999rem;

.dialog-trigger:checked+label>.overlay
	opacity: 1;
	z-index: 24;
	display: block;

.dialog-trigger:checked+label+dialog,dialog[open]
	opacity: 1;
	elevation(24);
