#drawer, #right-drawer
    flexContainer: column;
    animation-duration: .5s;
    animation-fill-mode: both;
    position: fixed;
    height: 100%;
    width: calc(100% - 56rem)
    max-width: 320rem; // TODO: on mobile 280rem
    padding: 0; // TODO: on mobile 16rem;
    top: 0;
    &::before
        content: ' ';
        overlay()
        width: 9999rem;
        height: 9999rem;
        margin: -3333rem 0 0 -3333rem;
    &[open]::before
        display: block;
        opacity: 1;
    &::after
        content: ' ';
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    &>[data-list]
        flex: 1 1 0;
    [data-list]
        overflow: auto;
        >li
            width: 100%;
            >*:first-child
                padding-left: 40rem;
            >*:last-child
                padding-right: 40rem;

#drawer
    left: 0;
    animation-name: slideOutLeft;

#right-drawer
    right: 0;
    animation-name: slideOutRight;

#drawer-input,
#right-drawer-input
    position: absolute;
    top: -9999rem;
    left: -9999rem;

#drawer-input+label>.overlay,
#right-drawer-input+label>.overlay
    top: -3333rem;
    left: -3333rem;
    width: 9999rem;
    bottom: -3333rem;
    right: auto;

#drawer-input:checked+label>.overlay,
#right-drawer-input:checked+label>.overlay
    opacity: 1;
    z-index: 16;
    display: block;

#drawer-input:checked+label+#drawer,#drawer[open]
    animation-name: slideInLeft;

#right-drawer-input:checked+label+#right-drawer, #right-drawer[open]
    animation-name: slideInRight;
