// Elevations
.animated
    transition: all .3s ease-in-out

$shadow-key-umbra-opacity = 0.12;
$shadow-key-penumbra-opacity = 0.16;
$shadow-ambient-shadow-opacity = 0.20;

elevation(base, isInset = false)
    transition: all .3s ease-in-out
    z-index base
    if isInset
        box-shadow: 0 (base)px (base*2)px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity) inset, 0 (base/3)px (base)px (0 - base)px rgba(0, 0, 0, $shadow-key-umbra-opacity) inset, 0 (base/3)px (base)px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity) inset;
    else
        box-shadow: 0 (base)px (base*2)px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0 (base/3)px (base)px (0 - base)px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0 (base/3)px (base)px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);

/*** Components ***/
dialog
    elevation(0)

[data-switch]
    elevation(1)

[data-card], [data-button~="raised"] //[data-quick-entry], [data-search-bar]
    elevation(2)

[data-refresh-indicator] //[data-quick-entry]:active, [data-quick-entry]:focus, [data-search-bar]:active, [data-search-bar]:focus
    elevation(3)

body>header,
body>[data-flexible-bar],
body>[data-tab-bar],
body>footer
    elevation(4)

[data-fab], [data-snackbar]
    elevation(6)

[data-bottom-bar], [data-card~="active"], [data-button~="raised"]:active, [data-button*="raised active"]
    elevation(8)

menu
    elevation(8)
    menu
        elevation(9)

[data-fab]:active,[data-fab~="active"]
    elevation(12)

[data-drawer-content], [data-modal-bottom-sheet]
    elevation(16)

dialog[open], [data-picker]
    elevation(24)

pre
    elevation(2, true)

/*** Attributes ***/

for size in 1 2 3 4 6 8 9 10 11 12 16 24 26
    [data-elevation~={'"focus-' + size + '"'}]:focus,
    [data-elevation~={'"active-' + size + '"'}]:active,
    [data-elevation~={'"hover-' + size + '"'}]:hover,
    [data-elevation~={'"'+ size + '"'}]
        elevation(size)

for size in 1 2 3 4 6 8 9 10 11 12 16 24 26
    [data-emboss~={'"focus-' + size + '"'}]:focus,
    [data-emboss~={'"active-' + size + '"'}]:active,
    [data-emboss~={'"hover-' + size + '"'}]:hover,
    [data-emboss~={'"'+ size + '"'}]
        elevation(size, true)
