grid(columns)
    width (100 / columns)%

generate(width, id)
    @media only screen and (min-width width)
        for size in 12 11 10 9 8 7 6 5 4 3 2 1
            [data-column~={'"'+ id + "-" + size + '"'}]
                grid(12/size)

[data-column]
    order: 0;
    flex: 0 1 auto;
    min-height: 0.5rem;

[data-grid]
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    &:after, &::before
        clear both;
        content " ";
        display block;

[data-grid*="end"]
    justify-content: flex-end;

[data-grid*="center"]
    justify-content: center;

[data-grid="gutters"]
    margin-left -8rem
    margin-right -8rem
    &>[data-column]
        padding 8rem

for size in 12 11 10 9 8 7 6 5 4 3 2 1
    [data-column~={'"' + size + '"'}]
        grid(12/size)

generate(0px, xs)
generate(480px, sm)
generate(840px, md)
generate(1280px, lg)
generate(1440px, xlg)
