menu,[data-menu]
    position: absolute;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    transition: all .2s ease-in-out;
    border-radius: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 256rem;
    transform: scale(0);
    transform-origin: top left;

.menu-trigger
    position: relative;
    display: inline-block;
.menu-trigger>input
    position: absolute;
    top: -9999rem;
    left: -9999rem;

.menu-trigger>input:checked+label>.overlay
    opacity: 1;
    z-index: 8;
    display: block;

.menu-trigger>input:checked+label+[data-menu],
.menu-trigger>input:checked+label+menu,
[data-menu][open],
menu[open]
    display: block;
    opacity: 1;
    z-index: 8;
    transform: scale(1);
