html
    font-size: 1px;
    box-sizing: border-box;

*, *:before, *:after
    box-sizing: inherit;


article,
[data-switch],
[data-card],
button,
[data-button],
[data-fab],
[data-refresh-indicator],
header,
.nav-icon,
h1, h2, h3, h4, h5, h6,
nav,
.menu-icon,
[data-tab-bar],
[data-flexible-bar],
[data-snackbar],
[data-bottom-bar],
[data-menu],
menu,
[data-modal-bottom-sheet],
dialog,
[data-picker],
.page,
.block,
.border-box,
[data-row],
[data-column],
[data-list],
[data-list]>li,
[data-list]>li>span,
[class*="icon"],
.inline-block,
input, select, textarea, label,.help-block,
[data-drawer] [data-list]>li>*
    display: block;

/*
[data-switch]:empty,
[data-card]:empty,
button:empty,
[data-button]:empty,
[data-refresh-indicator]:empty,
header:empty,
.nav-icon:empty,
.tool-bar-title:empty,
nav:empty,
.menu-icon:empty,
[data-tab-bar]:empty,
[data-flexible-bar]:empty,
[data-fab]:empty,
[data-snackbar]:empty,
[data-bottom-bar]:empty,
[data-menu]:empty,
menu:empty,
[data-drawer]:empty,
#right-drawer:empty,
[data-modal-bottom-sheet]:empty,
dialog:empty,
[data-picker]:empty,
.page:empty,
.block:empty,
.border-box:empty,
[data-row]:empty,
[data-list]:empty, [data-list]>li:empty,
[class*="icon"]:empty,
.inline-block:empty,
.help-block:empty
    display: none;
*/

[class*="icon"],
.inline-block,
a,
small,
button,
[data-button],
[data-fab]
    display: inline-block;
    transition: all .3s linear;

body
    font-size: 16rem;
    line-height: 1.618;

a, img
    outline: 0;
    margin: 0;
    text-decoration: none;

small
    font-size: 0.7em;
    opacity: 0.6;
    padding: 0 8rem;
