header,footer
    flexContainer : row;
    overflow: visible;
    height: 56rem;
    >*
        padding: 8rem 16rem;
    >[data-button]
        flex: 0 0 auto;
        padding: 16rem;
        &:first-child
            margin-right: -16rem;
    > h1, > h2, > h3, > h4, > h5, > h6
        margin: 0;
        flex: 0 0 auto;
        font-size: 16rem
        line-height: 1;
        padding: 20rem 16rem;
    nav
        flexContainer : row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        flex: 1 1 auto;
        overflow: visible;
        padding-right: 0;
        padding-left: 0;
        > [data-fab~="mini"]
            margin-top: 6rem;
            margin-right: 8rem;
