/*** Helper classes Start ***/
for size in 0 4 8 16 24 32 40
    /* Padding */
    .padding-{size}
        padding: (size/10)rem;
    .padding-left-{size}
        padding-left: (size/10)rem;
    .padding-right-{size}
        padding-right: (size/10)rem;
    .padding-top-{size}
        padding-top: (size/10)rem;
    .padding-bottom-{size}
        padding-bottom: (size/10)rem;

    /* margin */
    .margin-{size}
        margin: (size/10)rem;
    .margin-left-{size}
        margin-left: (size/10)rem;
    .margin-right-{size}
        margin-right: (size/10)rem;
    .margin-top-{size}
        margin-top: (size/10)rem;
    .margin-bottom-{size}
        margin-bottom: (size/10)rem;

for size in 0 4 8 10 12 14 16 18 20 24 32 40 48 56 64 72 80
    /* font-size */
    .font-{size}
        font-size: (size/10)rem;

/* align */
for val in left right center justify
    .text-{val}
        text-align: val;

.inline-block
    position: relative;
    display: inline-block;
    top:auto;
    left: auto;
    right: auto;
    bottom: auto;
    box-shadow: none;
    vertical-align: middle;

for val in relative static absolute fixed
    .{val}
        position: val;

.scrollable
    max-height: 36.0rem;

/*** Helper classes End ***/
