/*** Helper classes Start ***/
for size in 0 4 8 16 24 32 40
    /* Padding */
    .u-padding-{size}
        padding: size rem;
    .u-padding-left-{size}
        padding-left: size rem;
    .u-padding-right-{size}
        padding-right: size rem;
    .u-padding-top-{size}
        padding-top: size rem;
    .u-padding-bottom-{size}
        padding-bottom: size rem;

    /* margin */
    .u-margin-{size}
        margin: size rem;
    .u-margin-left-{size}
        margin-left: size rem;
    .u-margin-right-{size}
        margin-right: size rem;
    .u-margin-top-{size}
        margin-top: size rem;
    .u-margin-bottom-{size}
        margin-bottom: size rem;

/* Widths */
for size in (1..100)
    .u-width-{size}
        width: (size)%;

for val in relative static absolute fixed
    .u-{val}
        position: val;

.u-inline-block
    position: relative;
    display: inline-block;
    top:auto;
    left: auto;
    right: auto;
    bottom: auto;
    box-shadow: none;
    vertical-align: middle;

.u-scrollable
    max-height: 360rem;

/*** Helper classes End ***/
