.slideInLeft {
  animation-name: slideInLeft;
}
.slideOutLeft {
  animation-name: slideOutLeft;
}
.slideInLeft {
  animation-name: slideInLeft;
}
.slideOutLeft {
  animation-name: slideOutLeft;
}
@-moz-keyframes slideInLeft {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-o-keyframes slideInLeft {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-moz-keyframes slideOutLeft {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
@-webkit-keyframes slideOutLeft {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
@-o-keyframes slideOutLeft {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
@-moz-keyframes slideInRight {
  0% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-o-keyframes slideInRight {
  0% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes slideInRight {
  0% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-moz-keyframes slideOutRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
@-o-keyframes slideOutRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
@-moz-keyframes progressIndeterminate {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 25%;
    width: 75%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@-webkit-keyframes progressIndeterminate {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 25%;
    width: 75%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@-o-keyframes progressIndeterminate {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 25%;
    width: 75%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@keyframes progressIndeterminate {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 25%;
    width: 75%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@-moz-keyframes ripple {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(-50%, -50%);
  }
}
@-webkit-keyframes ripple {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(-50%, -50%);
  }
}
@-o-keyframes ripple {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(-50%, -50%);
  }
}
@keyframes ripple {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  30% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(-50%, -50%);
  }
}
@-moz-keyframes drawerclose {
  0% {
    top: 0;
    z-index: 1;
  }
  99.9% {
    top: 0;
    z-index: 1;
  }
  100% {
    top: -100%;
    z-index: -1;
  }
}
@-webkit-keyframes drawerclose {
  0% {
    top: 0;
    z-index: 1;
  }
  99.9% {
    top: 0;
    z-index: 1;
  }
  100% {
    top: -100%;
    z-index: -1;
  }
}
@-o-keyframes drawerclose {
  0% {
    top: 0;
    z-index: 1;
  }
  99.9% {
    top: 0;
    z-index: 1;
  }
  100% {
    top: -100%;
    z-index: -1;
  }
}
@keyframes drawerclose {
  0% {
    top: 0;
    z-index: 1;
  }
  99.9% {
    top: 0;
    z-index: 1;
  }
  100% {
    top: -100%;
    z-index: -1;
  }
}
