.animated {
  transition: all 0.3s ease-in-out;
}
/*** Components ***/
dialog {
  transition: all 0.3s ease-in-out;
  z-index: 0;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0 rgba(0,0,0,0.2);
}
[data-switch],
[data-badge] {
  transition: all 0.3s ease-in-out;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 0.3333px 1px -1px rgba(0,0,0,0.12), 0 0.3333px 1px 0 rgba(0,0,0,0.2);
}
[data-card],
[data-button~="raised"],
[data-fab~="inline"] {
  transition: all 0.3s ease-in-out;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 0.6667px 2px -2px rgba(0,0,0,0.12), 0 0.6667px 2px 0 rgba(0,0,0,0.2);
}
[data-refresh-indicator] {
  transition: all 0.3s ease-in-out;
  z-index: 3;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 1px 3px -3px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}
body>header,
body>[data-flexible-bar],
body>[data-tab-bar],
body>footer {
  transition: all 0.3s ease-in-out;
  z-index: 4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16), 0 1.3333px 4px -4px rgba(0,0,0,0.12), 0 1.3333px 4px 0 rgba(0,0,0,0.2);
}
[data-fab],
[data-snackbar] {
  transition: all 0.3s ease-in-out;
  z-index: 6;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.16), 0 2px 6px -6px rgba(0,0,0,0.12), 0 2px 6px 0 rgba(0,0,0,0.2);
}
[data-bottom-bar],
[data-card~="active"],
[data-button~="raised"]:active,
[data-button*="raised active"] {
  transition: all 0.3s ease-in-out;
  z-index: 8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16), 0 2.6667px 8px -8px rgba(0,0,0,0.12), 0 2.6667px 8px 0 rgba(0,0,0,0.2);
}
menu {
  transition: all 0.3s ease-in-out;
  z-index: 8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16), 0 2.6667px 8px -8px rgba(0,0,0,0.12), 0 2.6667px 8px 0 rgba(0,0,0,0.2);
}
menu menu {
  transition: all 0.3s ease-in-out;
  z-index: 9;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.16), 0 3px 9px -9px rgba(0,0,0,0.12), 0 3px 9px 0 rgba(0,0,0,0.2);
}
[data-fab]:active,
[data-fab~="active"] {
  transition: all 0.3s ease-in-out;
  z-index: 12;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.16), 0 4px 12px -12px rgba(0,0,0,0.12), 0 4px 12px 0 rgba(0,0,0,0.2);
}
[data-drawer-content],
[data-modal-bottom-sheet] {
  transition: all 0.3s ease-in-out;
  z-index: 16;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.16), 0 5.3333px 16px -16px rgba(0,0,0,0.12), 0 5.3333px 16px 0 rgba(0,0,0,0.2);
}
[data-dialog-trigger]:checked+label+dialog,
dialog[open],
[data-picker] {
  transition: all 0.3s ease-in-out;
  z-index: 24;
  box-shadow: 0 24px 48px 0 rgba(0,0,0,0.16), 0 8px 24px -24px rgba(0,0,0,0.12), 0 8px 24px 0 rgba(0,0,0,0.2);
}
pre {
  transition: all 0.3s ease-in-out;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16) inset, 0 0.6667px 2px -2px rgba(0,0,0,0.12) inset, 0 0.6667px 2px 0 rgba(0,0,0,0.2) inset;
}
/*** Attributes ***/
[data-elevation~="focus-1"]:focus,
[data-elevation~="active-1"]:active,
[data-elevation~="hover-1"]:hover,
[data-elevation~="1"] {
  transition: all 0.3s ease-in-out;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 0.3333px 1px -1px rgba(0,0,0,0.12), 0 0.3333px 1px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-2"]:focus,
[data-elevation~="active-2"]:active,
[data-elevation~="hover-2"]:hover,
[data-elevation~="2"] {
  transition: all 0.3s ease-in-out;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 0.6667px 2px -2px rgba(0,0,0,0.12), 0 0.6667px 2px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-3"]:focus,
[data-elevation~="active-3"]:active,
[data-elevation~="hover-3"]:hover,
[data-elevation~="3"] {
  transition: all 0.3s ease-in-out;
  z-index: 3;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 1px 3px -3px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-4"]:focus,
[data-elevation~="active-4"]:active,
[data-elevation~="hover-4"]:hover,
[data-elevation~="4"] {
  transition: all 0.3s ease-in-out;
  z-index: 4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16), 0 1.3333px 4px -4px rgba(0,0,0,0.12), 0 1.3333px 4px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-6"]:focus,
[data-elevation~="active-6"]:active,
[data-elevation~="hover-6"]:hover,
[data-elevation~="6"] {
  transition: all 0.3s ease-in-out;
  z-index: 6;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.16), 0 2px 6px -6px rgba(0,0,0,0.12), 0 2px 6px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-8"]:focus,
[data-elevation~="active-8"]:active,
[data-elevation~="hover-8"]:hover,
[data-elevation~="8"] {
  transition: all 0.3s ease-in-out;
  z-index: 8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16), 0 2.6667px 8px -8px rgba(0,0,0,0.12), 0 2.6667px 8px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-9"]:focus,
[data-elevation~="active-9"]:active,
[data-elevation~="hover-9"]:hover,
[data-elevation~="9"] {
  transition: all 0.3s ease-in-out;
  z-index: 9;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.16), 0 3px 9px -9px rgba(0,0,0,0.12), 0 3px 9px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-10"]:focus,
[data-elevation~="active-10"]:active,
[data-elevation~="hover-10"]:hover,
[data-elevation~="10"] {
  transition: all 0.3s ease-in-out;
  z-index: 10;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.16), 0 3.3333px 10px -10px rgba(0,0,0,0.12), 0 3.3333px 10px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-11"]:focus,
[data-elevation~="active-11"]:active,
[data-elevation~="hover-11"]:hover,
[data-elevation~="11"] {
  transition: all 0.3s ease-in-out;
  z-index: 11;
  box-shadow: 0 11px 22px 0 rgba(0,0,0,0.16), 0 3.6667px 11px -11px rgba(0,0,0,0.12), 0 3.6667px 11px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-12"]:focus,
[data-elevation~="active-12"]:active,
[data-elevation~="hover-12"]:hover,
[data-elevation~="12"] {
  transition: all 0.3s ease-in-out;
  z-index: 12;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.16), 0 4px 12px -12px rgba(0,0,0,0.12), 0 4px 12px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-16"]:focus,
[data-elevation~="active-16"]:active,
[data-elevation~="hover-16"]:hover,
[data-elevation~="16"] {
  transition: all 0.3s ease-in-out;
  z-index: 16;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.16), 0 5.3333px 16px -16px rgba(0,0,0,0.12), 0 5.3333px 16px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-24"]:focus,
[data-elevation~="active-24"]:active,
[data-elevation~="hover-24"]:hover,
[data-elevation~="24"] {
  transition: all 0.3s ease-in-out;
  z-index: 24;
  box-shadow: 0 24px 48px 0 rgba(0,0,0,0.16), 0 8px 24px -24px rgba(0,0,0,0.12), 0 8px 24px 0 rgba(0,0,0,0.2);
}
[data-elevation~="focus-26"]:focus,
[data-elevation~="active-26"]:active,
[data-elevation~="hover-26"]:hover,
[data-elevation~="26"] {
  transition: all 0.3s ease-in-out;
  z-index: 26;
  box-shadow: 0 26px 52px 0 rgba(0,0,0,0.16), 0 8.6667px 26px -26px rgba(0,0,0,0.12), 0 8.6667px 26px 0 rgba(0,0,0,0.2);
}
[data-emboss~="focus-1"]:focus,
[data-emboss~="active-1"]:active,
[data-emboss~="hover-1"]:hover,
[data-emboss~="1"] {
  transition: all 0.3s ease-in-out;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16) inset, 0 0.3333px 1px -1px rgba(0,0,0,0.12) inset, 0 0.3333px 1px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-2"]:focus,
[data-emboss~="active-2"]:active,
[data-emboss~="hover-2"]:hover,
[data-emboss~="2"] {
  transition: all 0.3s ease-in-out;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16) inset, 0 0.6667px 2px -2px rgba(0,0,0,0.12) inset, 0 0.6667px 2px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-3"]:focus,
[data-emboss~="active-3"]:active,
[data-emboss~="hover-3"]:hover,
[data-emboss~="3"] {
  transition: all 0.3s ease-in-out;
  z-index: 3;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16) inset, 0 1px 3px -3px rgba(0,0,0,0.12) inset, 0 1px 3px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-4"]:focus,
[data-emboss~="active-4"]:active,
[data-emboss~="hover-4"]:hover,
[data-emboss~="4"] {
  transition: all 0.3s ease-in-out;
  z-index: 4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16) inset, 0 1.3333px 4px -4px rgba(0,0,0,0.12) inset, 0 1.3333px 4px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-6"]:focus,
[data-emboss~="active-6"]:active,
[data-emboss~="hover-6"]:hover,
[data-emboss~="6"] {
  transition: all 0.3s ease-in-out;
  z-index: 6;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.16) inset, 0 2px 6px -6px rgba(0,0,0,0.12) inset, 0 2px 6px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-8"]:focus,
[data-emboss~="active-8"]:active,
[data-emboss~="hover-8"]:hover,
[data-emboss~="8"] {
  transition: all 0.3s ease-in-out;
  z-index: 8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16) inset, 0 2.6667px 8px -8px rgba(0,0,0,0.12) inset, 0 2.6667px 8px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-9"]:focus,
[data-emboss~="active-9"]:active,
[data-emboss~="hover-9"]:hover,
[data-emboss~="9"] {
  transition: all 0.3s ease-in-out;
  z-index: 9;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.16) inset, 0 3px 9px -9px rgba(0,0,0,0.12) inset, 0 3px 9px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-10"]:focus,
[data-emboss~="active-10"]:active,
[data-emboss~="hover-10"]:hover,
[data-emboss~="10"] {
  transition: all 0.3s ease-in-out;
  z-index: 10;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.16) inset, 0 3.3333px 10px -10px rgba(0,0,0,0.12) inset, 0 3.3333px 10px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-11"]:focus,
[data-emboss~="active-11"]:active,
[data-emboss~="hover-11"]:hover,
[data-emboss~="11"] {
  transition: all 0.3s ease-in-out;
  z-index: 11;
  box-shadow: 0 11px 22px 0 rgba(0,0,0,0.16) inset, 0 3.6667px 11px -11px rgba(0,0,0,0.12) inset, 0 3.6667px 11px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-12"]:focus,
[data-emboss~="active-12"]:active,
[data-emboss~="hover-12"]:hover,
[data-emboss~="12"] {
  transition: all 0.3s ease-in-out;
  z-index: 12;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.16) inset, 0 4px 12px -12px rgba(0,0,0,0.12) inset, 0 4px 12px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-16"]:focus,
[data-emboss~="active-16"]:active,
[data-emboss~="hover-16"]:hover,
[data-emboss~="16"] {
  transition: all 0.3s ease-in-out;
  z-index: 16;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.16) inset, 0 5.3333px 16px -16px rgba(0,0,0,0.12) inset, 0 5.3333px 16px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-24"]:focus,
[data-emboss~="active-24"]:active,
[data-emboss~="hover-24"]:hover,
[data-emboss~="24"] {
  transition: all 0.3s ease-in-out;
  z-index: 24;
  box-shadow: 0 24px 48px 0 rgba(0,0,0,0.16) inset, 0 8px 24px -24px rgba(0,0,0,0.12) inset, 0 8px 24px 0 rgba(0,0,0,0.2) inset;
}
[data-emboss~="focus-26"]:focus,
[data-emboss~="active-26"]:active,
[data-emboss~="hover-26"]:hover,
[data-emboss~="26"] {
  transition: all 0.3s ease-in-out;
  z-index: 26;
  box-shadow: 0 26px 52px 0 rgba(0,0,0,0.16) inset, 0 8.6667px 26px -26px rgba(0,0,0,0.12) inset, 0 8.6667px 26px 0 rgba(0,0,0,0.2) inset;
}
