label {
  transition: all 0.3s ease-in-out;
  font-size: 13rem;
  line-height: 13rem;
  z-index: 0;
  opacity: 0.6;
  padding: 0;
  position: relative;
}
input,
select,
textarea {
  outline: 0;
  padding: 8rem;
  transition: all 0.3s ease-in-out;
  height: 32rem;
  line-height: 32rem;
  border-width: 0;
  z-index: 1;
  position: relative;
  border-radius: 0;
  border-bottom-width: 2rem;
  border-bottom-style: solid;
  width: 100%;
}
input ~label,
select ~label,
textarea ~label {
  position: absolute;
  top: 0;
  left: 0;
  height: 48rem;
  width: 100%;
}
input ~label::after,
select ~label::after,
textarea ~label::after,
input ~label::before,
select ~label::before,
textarea ~label::before {
  content: ' ';
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 2rem;
}
input ~label::after,
select ~label::after,
textarea ~label::after {
  width: 0%;
  left: 50%;
  transform: translate(-50%);
}
.help-block {
  font-size: 13rem;
  margin: 2rem 0 0;
  opacity: 0.6;
  line-height: 13rem;
}
.form-group {
  margin-bottom: 22rem;
  position: relative;
  padding-top: 16rem;
}
.form-group >* {
  width: 100%;
  border-bottom: 0;
}
.form-group >*::-webkit-input-placeholder {
  opacity: 0;
}
.form-group >*:-moz-placeholder {
  opacity: 0;
}
.form-group >*::-moz-placeholder {
  opacity: 0;
}
.form-group >*:-ms-input-placeholder {
  opacity: 0;
}
.form-group >*:placeholder-shown~label {
  padding: 24rem 8rem 0;
  font-size: 16rem;
}
.form-group >*:focus~label {
  padding: 0;
  font-size: 13rem;
}
.form-group >*:focus~label::after {
  width: 100%;
}
.form-group >.help-block {
  position: absolute;
}
.form-group >textarea {
  height: auto;
}
.form-group >textarea ~label {
  height: 100%;
}
[type="checkbox"],
[type="radio"] {
  width: auto;
}
