[data-column] {
  order: 0;
  flex: 0 1 auto;
  min-height: 0.5rem;
}
[data-grid] {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
}
[data-grid]:after,
[data-grid]::before {
  clear: both;
  content: " ";
  display: block;
}
[data-grid*="end"] {
  justify-content: flex-end;
}
[data-grid*="center"] {
  justify-content: center;
}
[data-grid="gutters"] {
  margin-left: -8rem;
  margin-right: -8rem;
}
[data-grid="gutters"]>[data-column] {
  padding: 8rem;
}
[data-column~="12"] {
  width: 100%;
}
[data-column~="11"] {
  width: 91.66666666666667%;
}
[data-column~="10"] {
  width: 83.33333333333334%;
}
[data-column~="9"] {
  width: 75%;
}
[data-column~="8"] {
  width: 66.66666666666667%;
}
[data-column~="7"] {
  width: 58.333333333333336%;
}
[data-column~="6"] {
  width: 50%;
}
[data-column~="5"] {
  width: 41.66666666666667%;
}
[data-column~="4"] {
  width: 33.333333333333336%;
}
[data-column~="3"] {
  width: 25%;
}
[data-column~="2"] {
  width: 16.666666666666668%;
}
[data-column~="1"] {
  width: 8.333333333333334%;
}
@media only screen and (min-width: 0px) {
  [data-column~="xs-12"] {
    width: 100%;
  }
  [data-column~="xs-11"] {
    width: 91.66666666666667%;
  }
  [data-column~="xs-10"] {
    width: 83.33333333333334%;
  }
  [data-column~="xs-9"] {
    width: 75%;
  }
  [data-column~="xs-8"] {
    width: 66.66666666666667%;
  }
  [data-column~="xs-7"] {
    width: 58.333333333333336%;
  }
  [data-column~="xs-6"] {
    width: 50%;
  }
  [data-column~="xs-5"] {
    width: 41.66666666666667%;
  }
  [data-column~="xs-4"] {
    width: 33.333333333333336%;
  }
  [data-column~="xs-3"] {
    width: 25%;
  }
  [data-column~="xs-2"] {
    width: 16.666666666666668%;
  }
  [data-column~="xs-1"] {
    width: 8.333333333333334%;
  }
}
@media only screen and (min-width: 480px) {
  [data-column~="sm-12"] {
    width: 100%;
  }
  [data-column~="sm-11"] {
    width: 91.66666666666667%;
  }
  [data-column~="sm-10"] {
    width: 83.33333333333334%;
  }
  [data-column~="sm-9"] {
    width: 75%;
  }
  [data-column~="sm-8"] {
    width: 66.66666666666667%;
  }
  [data-column~="sm-7"] {
    width: 58.333333333333336%;
  }
  [data-column~="sm-6"] {
    width: 50%;
  }
  [data-column~="sm-5"] {
    width: 41.66666666666667%;
  }
  [data-column~="sm-4"] {
    width: 33.333333333333336%;
  }
  [data-column~="sm-3"] {
    width: 25%;
  }
  [data-column~="sm-2"] {
    width: 16.666666666666668%;
  }
  [data-column~="sm-1"] {
    width: 8.333333333333334%;
  }
}
@media only screen and (min-width: 840px) {
  [data-column~="md-12"] {
    width: 100%;
  }
  [data-column~="md-11"] {
    width: 91.66666666666667%;
  }
  [data-column~="md-10"] {
    width: 83.33333333333334%;
  }
  [data-column~="md-9"] {
    width: 75%;
  }
  [data-column~="md-8"] {
    width: 66.66666666666667%;
  }
  [data-column~="md-7"] {
    width: 58.333333333333336%;
  }
  [data-column~="md-6"] {
    width: 50%;
  }
  [data-column~="md-5"] {
    width: 41.66666666666667%;
  }
  [data-column~="md-4"] {
    width: 33.333333333333336%;
  }
  [data-column~="md-3"] {
    width: 25%;
  }
  [data-column~="md-2"] {
    width: 16.666666666666668%;
  }
  [data-column~="md-1"] {
    width: 8.333333333333334%;
  }
}
@media only screen and (min-width: 1280px) {
  [data-column~="lg-12"] {
    width: 100%;
  }
  [data-column~="lg-11"] {
    width: 91.66666666666667%;
  }
  [data-column~="lg-10"] {
    width: 83.33333333333334%;
  }
  [data-column~="lg-9"] {
    width: 75%;
  }
  [data-column~="lg-8"] {
    width: 66.66666666666667%;
  }
  [data-column~="lg-7"] {
    width: 58.333333333333336%;
  }
  [data-column~="lg-6"] {
    width: 50%;
  }
  [data-column~="lg-5"] {
    width: 41.66666666666667%;
  }
  [data-column~="lg-4"] {
    width: 33.333333333333336%;
  }
  [data-column~="lg-3"] {
    width: 25%;
  }
  [data-column~="lg-2"] {
    width: 16.666666666666668%;
  }
  [data-column~="lg-1"] {
    width: 8.333333333333334%;
  }
}
@media only screen and (min-width: 1440px) {
  [data-column~="xlg-12"] {
    width: 100%;
  }
  [data-column~="xlg-11"] {
    width: 91.66666666666667%;
  }
  [data-column~="xlg-10"] {
    width: 83.33333333333334%;
  }
  [data-column~="xlg-9"] {
    width: 75%;
  }
  [data-column~="xlg-8"] {
    width: 66.66666666666667%;
  }
  [data-column~="xlg-7"] {
    width: 58.333333333333336%;
  }
  [data-column~="xlg-6"] {
    width: 50%;
  }
  [data-column~="xlg-5"] {
    width: 41.66666666666667%;
  }
  [data-column~="xlg-4"] {
    width: 33.333333333333336%;
  }
  [data-column~="xlg-3"] {
    width: 25%;
  }
  [data-column~="xlg-2"] {
    width: 16.666666666666668%;
  }
  [data-column~="xlg-1"] {
    width: 8.333333333333334%;
  }
}
