header,
footer {
  flexContainer: row;
  overflow: visible;
  height: 56rem;
}
header >*,
footer >* {
  padding: 8rem;
}
header >[data-button],
footer >[data-button] {
  flex: 0 0 auto;
  padding: 16rem;
}
header >[data-button]:first-child,
footer >[data-button]:first-child {
  margin-right: -16rem;
}
header > h1,
footer > h1,
header > h2,
footer > h2,
header > h3,
footer > h3 {
  margin: 0;
  flex: 0 0 auto;
  font-size: 16rem;
  line-height: 1;
  padding: 20rem 16rem;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex: 1 1 auto;
  overflow: visible;
}
nav > [data-fab~="mini"] {
  margin-top: 6rem;
  margin-right: 8rem;
  box-shadow: none;
}
nav >a,
nav >a[data-button] {
  text-transform: none;
}
