$slim = true;
/************************** Main styles **************************/
/*** Helpers ***/
@import "components/helpers";
/*** Colorpallete ***/
@import "components/colorpallete";
/*** Animation Definitions ***/
@import "components/animations";
/*** Elevation classes ***/
@import "components/elevation";
/*** Force Css Reset ***/
@import "components/reset";
/*** Overlay ***/
@import "components/overlay";
/*** Ripple ***/
@import "components/ripple";

/************************** Components **************************/
/*** Badges ***/
@import "components/badges";
/*** Buttons ***/
@import "components/buttons";
/*** ToolBar ***/
@import "components/tool-bar";
/*** Lists ***/
@import "components/lists";
/*** Cards ***/
@import "components/cards";
/*** Forms ***/
@import "components/forms";
/*** Drawers ***/
@import "components/drawers";
/*** Layout ***/
@import "components/layout";
