/************************** Main styles **************************/
/*** Colorpallete ***/
@import "components/colorpallete";
/*** Custom Colorpallete ***/
// @import "components/colorpallete_custom";
/*** Grid ***/
@import "components/grid";
/*** Elevation classes ***/
@import "components/elevation";
/*** Helper classes ***/
@import "components/helpers";
/*** Force Css Reset ***/
@import "components/reset";
/*** Animation Definitions ***/
@import "components/animations";
/*** Checkbox Hack ***/
@import "components/checkbox-hack";
/*** Overlay ***/
@import "components/overlay";
/*** Ripple ***/
@import "components/ripple";

/************************** Components **************************/
/*** Layout ***/
@import "components/layout";
/*** Flexible Bar ***/
@import "components/flexible-bar";
/*** Drawers ***/
@import "components/drawers";
/*** ToolBar ***/
@import "components/tool-bar";
/*** Buttons ***/
@import "components/buttons";
/*** Hr ***/
@import "components/hr";
/*** Cards ***/
@import "components/cards";
/*** Badges ***/
@import "components/badges";
/*** Dialogs ***/
@import "components/dialogs";
/*** Lists ***/
@import "components/lists";
/*** Menues ***/
@import "components/menues";
/*** Forms ***/
@import "components/forms";
/*** Progress ***/
@import "components/progress";
/*** Tables ***/
@import "components/tables";
/*** Code ***/
@import "components/code";
/*** Tooltips ***/
@import "components/tooltips";
/*** Spinners ***/
@import "components/spinners";
